<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.homePageMapper.v1.CarScrapOrderDealMapper">
	<resultMap id="BaseResultMap" type="com.tieshan.api.bo.homePageBo.CarScrapOrderDealBO">
		<id column="id" 						property="id" />
	    <result column="order_no" 				property="orderNo" />
	    <result column="order_type" 			property="orderType" />
	    <result column="oe" 					property="oe" />
	    <result column="car_brand" 				property="carBrand" />
	    <result column="car_model_number" 		property="carModelNumber" />
	    <result column="car_frame_number" 		property="carFrameNumber" />
	    <result column="car_number" 			property="carNumber" />
	    <result column="parts_name" 			property="partsName" />
	    <result column="parts_standard_name" 	property="partsStandardName" />
	    <result column="quality" 				property="quality" />
	    <result column="condition" 				property="condition" />
	    <result column="car_owner" 				property="carOwner" />
	    <result column="address" 				property="address" />
	    <result column="driving_mileage" 		property="drivingMileage" />
	    <result column="car_age" 				property="carAge" />
	    <result column="description" 			property="description" />
	    <result column="head_img_url" 			property="headImgUrl" />
	</resultMap>
	<resultMap id="carScrapOrderDealBO" type="com.tieshan.api.bo.homePageBo.CarScrapOrderDealBO">
		<id column="id" 						property="id" />
	    <result column="order_no" 				property="orderNo" />
	    <result column="order_type" 			property="orderType" />
	    <result column="oe" 					property="oe" />
	    <result column="car_brand" 				property="carBrand" />
	    <result column="car_model_number" 		property="carModelNumber" />
	    <result column="car_frame_number" 		property="carFrameNumber" />
	    <result column="car_number" 			property="carNumber" />
	    <result column="parts_name" 			property="partsName" />
	    <result column="parts_standard_name" 	property="partsStandardName" />
	    <result column="quality" 				property="quality" />
	    <result column="condition" 				property="condition" />
	    <result column="car_owner" 				property="carOwner" />
	    <result column="address" 				property="address" />
	    <result column="driving_mileage" 		property="drivingMileage" />
	    <result column="car_age" 				property="carAge" />
	    <result column="description" 			property="description" />
	    <result column="head_img_url" 			property="headImgUrl" />
	    
	    <collection property="attachmentList" 
	    	ofType="com.tieshan.api.bo.homePageBo.CarScrapOrderDealAttachmentBO"
	    	column="order_deal_id=id"
			select="getAttachmentList">
		</collection>
	</resultMap>

	<select id="queryList" resultMap="BaseResultMap">
		select
			csod.*,ta.storage_path head_img_url,"已成交" as zt,FLOOR( 500 + RAND() * (1000 - 500)) as liulan
		from 
			car_scrap_order_deal csod left join tb_attachment ta on csod.head_img_id = ta.id
		order by 
			csod.createtime desc
		limit 6
	</select>
	<select id="queryListName" resultMap="BaseResultMap">
		select
			csod.*,ta.storage_path head_img_url
		from
			car_scrap_order_deal csod left join tb_attachment ta on csod.head_img_id = ta.id
		where
		csod.car_model_number like CONCAT('%',#{modelName},'%')
		order by
			csod.createtime desc
	</select>

</mapper>