<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.homePageMapper.v1.TbVersionMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.homePagePo.bo.v1.TbVersion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oc" jdbcType="INTEGER" property="oc" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="version_code" jdbcType="VARCHAR" property="versionCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="operatortime" jdbcType="TIMESTAMP" property="operatortime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oc, project_name, url, version_code, remark, ts, creater, operator, createtime, 
    operatortime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_version
    where oc = #{oc,jdbcType=INTEGER}
  </select>
</mapper>