<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.v1.areas.AreasMapper">

    <select id="getAreas" resultType="Areas">
		select
			id as id,areas_code as areasCode,areas_name as areasName
		from
			sys_areas
		where
			status = 1
		and
			is_virtual_field = 0
	</select>

</mapper>