<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.v1.auction.CarPmAuctionMapper">

    <resultMap id="BaseResultMap" type="Paimai">
        <id 	column="id"  						property="id" />
        <result column="pmh_id"  					property="pmhId" />
        <result column="paimai_name"  				property="paimaiName" />
        <result column="paimai_start_time"  		property="paimaiStartTime" />
        <result column="interval_time"  			property="intervalTime" />
        <result column="paimai_finish_time"  		property="paimaiFinishTime" />
        <result column="single_time"  				property="singleTime" />
        <result column="remark"  					property="remark" />
        <result column="paimai_state"  				property="paimaiState" />
        <result column="paimai_states"  			property="paimaiStates" />
        <result column="publish_time"  				property="publishTime" />
        <result column="auction_count" 				property="auctionCount" />
        <result column="deal_count"  				property="dealCount" />
        <result column="abortive_count"  			property="abortiveCount" />
        <result column="revoke_count"  				property="revokeCount" />
        <result column="create_user"  				property="createUser" />
        <result column="create_time"  				property="createTime" />
        <result column="is_delete"  				property="isDelete" />
        <result column="weekday"  				    property="weekDay" />
        <result column="starttime"  				property="startTime" />
        <result column="imgPath"  				    property="imgPath" />
    </resultMap>

    <resultMap id="auctionList" type="com.tieshan.api.vo.tieshanpaiVo.v1.auction.CarPmAuctionVo">
        <id 	column="id" 					property="id" />
        <result column="auction_type" 			property="auctionType" />
        <result column="auction_type_s" 		property="auctionTypeS" />
        <result column="auction_no" 			property="auctionNo" />
        <result column="full_name" 				property="fullName" />
        <result column="lot_areas" 				property="lotAreas" />
        <result column="lot_areas_id" 			property="lotAreasId" />
        <result column="create_user" 			property="createUser" />
        <result column="create_time" 			property="createTime" />
        <result column="order_state" 			property="orderState" />
        <result column="auction_start_time" 	property="auctionStartTime" />
        <result column="look_address" 			property="lookAddress" />
        <result column="look_coordinate" 		property="lookCoordinate" />
        <result column="auction_end_time" 	    property="auctionEndTime" />
        <association property="imgPath" column="auctionId=id" javaType="String" select="getHeadImgByAuctionId"/>
    </resultMap>

    <resultMap id="resultEnd" type="com.tieshan.api.vo.tieshanpaiVo.v1.auction.CarPmResultVo">
        <result column="pmh_id" 	    property="pmhId" />
        <result column="pmh_end_time" 	    property="pmhEndTime" />
        <result column="pp_id" 	    property="ppId" />
        <result column="pp_end_time" 	    property="ppEndTime" />
        <result column="retain_price" 	    property="retainPrice" />
        <result column="this_price" 	    property="thisPrice" />
        <result column="pp_no" property="ppNo"/>
    </resultMap>

    <resultMap id="auction" type="com.tieshan.api.vo.tieshanpaiVo.v1.auction.CarPmAuctionVo">
        <id 	column="id" 					property="id" />
        <result column="auction_type" 			property="auctionType" />
        <result column="auction_type_s" 		property="auctionTypeS" />
        <result column="auction_no" 			property="auctionNo" />
        <result column="full_name" 				property="fullName" />
        <result column="vin" 					property="vin" />
        <result column="license_number" 		property="licenseNumber" />
        <result column="lot_areas" 				property="lotAreas" />
        <result column="lot_areas_id" 			property="lotAreasId" />
        <result column="production_date" 		property="productionDate" />
        <result column="is_has_key" 			property="isHasKey" />
        <result column="description" 			property="description" />
        <result column="buy_requirement" 		property="buyRequirement" />
        <result column="look_contacts" 			property="lookContacts" />
        <result column="look_contact_number" 	property="lookContactNumber" />
        <result column="look_address" 			property="lookAddress" />
        <result column="look_coordinate" 		property="lookCoordinate" />
        <result column="bid_notice" 			property="bidNotice" />
        <result column="special_notice" 		property="specialNotice" />
        <result column="is_delete" 				property="isDelete" />
        <result column="create_user" 			property="createUser" />
        <result column="create_time" 			property="createTime" />
        <result column="starting_price" 		property="startingPrice" />
        <result column="order_state" 			property="orderState" />
        <result column="order_state_s" 			property="orderStateS" />
        <result column="commission" 			property="commission" />
        <result column="other_price" 			property="otherPrice" />
        <result column="auction_start_time" 	property="auctionStartTime" />
        <result column="auction_end_time" 	    property="auctionEndTime" />
        <result column="parts_count"            property="lotPartsCount" />
        <result column="parts_weight"           property="partsWeight" />
        <collection property="auctionFileList" ofType="com.tieshan.api.vo.tieshanpaiVo.v1.auction.CarPmAuctionFileVo" column="auctionId=id"
                    select="getFileListByAuctionId">
        </collection>
        <collection property="autopartsList" ofType="com.tieshan.api.vo.chebaofeiVo.v1.CarScrapOrderAutopartsVo" column="auctionId=id"
                    select="getCarScrapOrderAutopartsListByAuctionId">
        </collection>
    </resultMap>

    <resultMap id="carScrapOrderAutopartsVo"  type="com.tieshan.api.vo.chebaofeiVo.v1.CarScrapOrderAutopartsVo">
        <id  column="id"     property="id" />
        <result column="order_id"     property="orderId" />
        <result column="order_no"     property="orderNo" />
        <result column="parts_type"    property="partsType" />
        <result column="parts_name"    property="partsName" />
        <result column="parts_num"     property="partsNum" />
        <result column="car_model_number"   property="carModelNumber" />
        <result column="car_frame_number"   property="carFrameNumber" />
        <result column="car_number"    property="carNumber" />
    </resultMap>

    <resultMap id="auctionCar" type="AuctionCar">
        <id 	column="auction_id" 			property="auctionId" />
        <result column="auction_set_id" 		property="auctionSetId" />
        <result column="auction_no" 			property="auctionNo" />
        <result column="full_name" 				property="fullName" />
        <result column="full_type" 				property="fullType" />
        <result column="lot_areas" 				property="lotAreas" />
        <result column="vehicle_brand" 			property="vehicleBrand" />
        <result column="vehicle_type" 			property="vehicleType" />
        <result column="vehicle_system" 		property="vehicleSystem" />
        <result column="license_number" 		property="licenseNumber" />
        <result column="pmh_id" 				property="pmhId" />
        <result column="single_time" 		    property="singleTime" />
        <result column="pm_order" 				property="pmOrder" />
        <result column="order_state_s" 			property="orderStateS" />
        <result column="order_state" 			property="orderState" />
        <result column="deal_mid" 				property="dealMid" />
        <result column="deal_member" 			property="dealMember" />
        <result column="starting_price" 		property="startingPrice" />
        <result column="cur_price" 				property="curPrice" />
        <result column="reserve_price" 			property="reservePrice" />
        <result column="auction_cash_deposit" 	property="auctionCashDeposit" />
        <result column="auction_type_flag" 		property="auctionTypeFlag" />
        <result column="vin" 					property="vin" />
        <result column="park_address" 			property="parkAddress" />
        <result column="phone" 					property="phone" />
        <result column="id_card" 				property="idCard" />
        <result column="joint_price" 			property="jointPrice" />
        <result column="highest_price" 			property="highestPrice" />
        <result column="other_price" 			property="otherPrice" />
        <result column="commission" 			property="commission" />
        <result column="total_price" 			property="totalPrice" />
        <result column="auction_start_time" 	property="auctionStartTime" />
        <association property="imgPath" column="auctionId=auction_id" javaType="String"
                     select="getHeadImgByAuctionId"/>
    </resultMap>

    <resultMap id="startMap" type="com.tieshan.api.vo.tieshanpaiVo.v1.auction.StartVO">
        <id 	column="auction_id" 			property="auctionId" />
        <result column="pmh_id" 	property="pmhId" />
        <result column="auction_start_time" 	property="auctionStartTime" />
        <result column="time_count" 	        property="timeCount" />
        <result column="full_name" 				property="fullName" />
        <result column="pm_order" 				property="pmOrder" />
        <result column="single_time" 		    property="singleTime" />
    </resultMap>

    <resultMap id="dealMap" type="com.tieshan.api.vo.tieshanpaiVo.v1.auction.DealVO">
        <result column="auction_id" property="auctionId" />
        <result column="order_no"  property="orderNo"/>
        <result column="commission"  property="commission"/>
        <result column="other_price"  property="otherPrice"/>
        <result column="highest_price"  property="highestPrice"/>
        <result column="full_name"  property="fullName"/>
        <result column="auction_type"  property="auctionType"/>
        <result column="member_id"  property="dealerId"/>
        <result column="member_name"  property="dealName"/>
    </resultMap>


    <resultMap id="dealPoMap" type="com.tieshan.api.po.tieshanpaiPo.v1.auction.CarPmDeal">
        <id 	column="id" 			property="id" />
        <result column="order_no" 	property="orderNo" />
        <result column="auction_id" 	property="auctionId" />
        <result column="pay_price" 	        property="payPrice" />
        <result column="auction_name" 				property="auctionName" />
        <result column="deal_time" 				property="dealTime" />
        <result column="dealer_id" 		    property="dealerId" />
        <result column="deal_way" 		    property="dealWay" />
        <result column="auction_type" 		    property="auctionType" />
        <result column="deal_cn" 		    property="dealCn" />
        <result column="img_path" 		    property="imgPath" />
    </resultMap>

    <sql id="ListIf">
        <if test="auctionTypeArr.size() > 0 ">
            AND cpa.auction_type in <foreach item="auction_type" index="index" collection="auctionTypeArr" open="(" separator="," close=")">#{auction_type}</foreach>
        </if>
        <if test="lotAreasArr.size() > 0 ">
            AND cpa.lot_areas_id in <foreach item="item" index="index" collection="lotAreasArr" open="(" separator="," close=")">#{item}</foreach>
        </if>
    </sql>

    <sql id="ListIfPaiMai">
        <if test="auctionPlatform != null and auctionPlatform !=''">
            AND SIP.auction_platform = #{auctionPlatform}
        </if>
        <if test="paimaiDateStart != null">
            AND SIP.paimai_start_time <![CDATA[>=]]> #{paimaiDateStart}
        </if>
        <if test="paimaiDateEnd != null">
            AND SIP.paimai_start_time <![CDATA[<=]]> #{paimaiDateEnd}
        </if>
        <if test="paimaiName != null and paimaiName !=''">
            AND SIP.paimai_name like CONCAT(CONCAT('%', #{paimaiName}),'%')
        </if>
    </sql>

    <sql id="getAuctionCarListSQL">
		SIA.id AS auction_id,
	    SIAS.id auction_set_id,
		SIA.auction_no,
		SIA.auction_no as list_auction_three,
		SIA.full_name,
		case SIA.auction_type when 0 then CONCAT('全车配件')
			when 1 then CONCAT('高价值配件')
			when 2 then CONCAT('大宗物资') end AS full_type,
		SIA.lot_areas,
		SIA.vehicle_brand,
	    SIA.vehicle_type,
	    SIA.vehicle_system,
	    SIA.license_number,
	    SIAS.pmh_id,
	    SIAS.pm_order,
        CASE
            SIA.auction_state
            WHEN '2' THEN
            '等待竞拍'
            WHEN '4' THEN
            '正在竞拍'
            WHEN '5' THEN
            '已成交'
            WHEN '8' THEN
            '已流拍'
        END AS order_state_s,
	    SIA.auction_state as order_state,
	    SIAS.starting_price,
	    SIAS.reserve_price,
	    SIAS.auction_cash_deposit,
	    SIAS.deal_mid,
	    SIAS.deal_member,
	    SIA.vin,
	    SIA.auction_type auction_type_flag,
	    SPCI.phone,
	    SPCI.id_card,
	    SIAS.joint_price,
	    PMH.paimai_start_time as auction_start_time,
	    SIAS.single_time,
	    SIAS.commission,
	    SIAS.other_price,
	    SIA.look_address park_address
	</sql>

    <select id="getMembers" parameterType="string" resultType="java.lang.String">
    select
       mid as member_id
     from
       car_pm_offer_water
     where
       bid_amount = (
       SELECT
            MAX(bid_amount)
       FROM
           car_pm_offer_water
       WHERE
           auction_no = #{ppNo}
           )
        and auction_no = #{ppNo}
    </select>


    <select id="getStartResult" resultMap="startMap">
        select
            pm.pmh_id as pmh_id,
            pm.paimai_start_time as auction_start_time,
            ppset.auction_id as auction_id,
            ppset.auction_start_time as time_count,
            pp.full_name as full_name,
            ppset.pm_order as pm_order,
            ppset.single_time as single_time
        from
         car_pm_paimai as pm
         inner join
         car_pm_auction_set as ppset
         on pm.pmh_id=ppset.pmh_id
         inner join
         car_pm_auction as pp
         on ppset.auction_id = pp.id
        where
         DATE_FORMAT(paimai_start_time,'%Y-%m-%d')=DATE_FORMAT(SYSDATE(),'%Y-%m-%d')
        order by
         SUBSTRING(pp.auction_no,12,3)
    </select>


    <select id="getIngPmh" resultMap="resultEnd">
        SELECT
        v.pmh_id,
        DATE_ADD( v.pm_start_time, INTERVAL ( v.time_single * v.pp_count ) SECOND ) AS pmh_end_time
        FROM
        (
        SELECT
        cs.single_time AS time_single,
        cs.interval_time AS time_interval,
        cs.pmh_id AS pmh_id,
        count(1) AS pp_count,
        cp.paimai_start_time AS pm_start_time
        FROM
        car_pm_auction_set cs
        LEFT JOIN car_pm_paimai cp ON cs.pmh_id = cp.pmh_id
        WHERE
        cs.pmh_id IN (
        SELECT
        b.pmh_id
        FROM
        car_pm_auction a
        LEFT JOIN car_pm_auction_set b ON a.id = b.auction_id
        WHERE
        <![CDATA[ b.auction_end_time <= DATE_FORMAT( SYSDATE(), '%Y-%m-%d %H:%i:%s' ) ]]>
        AND a.auction_state in (5,8)
        GROUP BY
        b.auction_end_time
        ORDER BY
        b.auction_end_time DESC
        )
        GROUP BY
        cs.pmh_id
        HAVING
        cs.single_time > 0
        ORDER BY
        cs.single_time DESC
        ) v
        WHERE
        v.pm_start_time IS NOT NULL
        having <![CDATA[pmh_end_time <= SYSDATE()]]>
        ORDER BY
        pmh_end_time DESC
    </select>



    <select id="getIngPaiPin" resultMap="resultEnd">
        select
        (
        SELECT
        COALESCE(MAX(HB.BID_AMOUNT),'0')
        FROM
        car_pm_offer_water HB
        WHERE
        HB.is_delete = 0
        AND HB.ORDER_ID = cpas.id
        ) as this_price,
        cpa.id as pp_id,
        cpas.reserve_price as retain_price,
        cpas.auction_end_time as pp_end_time,
        cpa.auction_no as pp_no
        FROM
        car_pm_auction cpa
        LEFT JOIN car_pm_auction_set cpas ON cpa.id = cpas.auction_id
        WHERE
        cpa.id in(
        SELECT
        a.id
        FROM
        car_pm_auction a
        LEFT JOIN car_pm_auction_set b ON a.id = b.auction_id
        WHERE
         <![CDATA[ b.auction_end_time <= DATE_FORMAT( SYSDATE(), '%Y-%m-%d %H:%i:%s' ) ]]>
        AND a.auction_state = 4
        GROUP BY
        b.auction_end_time
        ORDER BY
        b.auction_end_time DESC
        )
        AND cpas.is_delete = 0
        AND cpas.is_history = 0
    </select>

    <select id="findAuction" resultMap="auctionList">
        select
        *
        from
        (
        (
        SELECT
        *
        FROM
        (
        SELECT
        SYSDATE() as sysDate,
        cpa.id,
        cpa.auction_type,
        CASE
        cpa.auction_type
        WHEN 0 THEN '整车配件'
        WHEN 1 THEN '高价值配件'
        WHEN 2 THEN '大宗物资'
        END AS auction_type_s,
        cpa.full_name,
        cpa.lot_areas,
        cpa.lot_areas_id,
        cpa.look_address, cpa.look_coordinate,
        cpas.order_state,
        cpas.auction_start_time,
        cpas.auction_end_time,
        cpas.id as orderId,
        (SELECT
        MAX(HB.BID_AMOUNT)
        FROM
        car_pm_offer_water HB
        WHERE
        HB.is_delete = 0
        AND HB.ORDER_ID = cpas.id
        ) as highestPrice
        FROM
        car_pm_auction cpa
        LEFT JOIN
        car_pm_auction_set cpas ON cpa.id = cpas.auction_id
        LEFT JOIN
        car_pm_paimai cpp ON cpas.pmh_id = cpp.pmh_id
        WHERE
        cpa.is_delete = 0
        AND cpas.is_delete = 0
        AND cpas.is_history = 0
        AND cpp.is_delete = 0
        AND cpp.paimai_state in (1,2)
        AND cpas.order_state in ('10','20')
        AND DATE(cpas.auction_end_time) >= date(SYSDATE())
        <include refid="ListIf"/>
        ORDER BY
        cpas.order_state DESC,
        cpas.pm_order ) as aa
        )
        UNION
        (
        SELECT
        *
        FROM
        (
        SELECT
        SYSDATE() as sysDate,
        cpa.id,
        cpa.auction_type,
        CASE
        cpa.auction_type
        WHEN 0 THEN '整车配件'
        WHEN 1 THEN '高价值配件'
        WHEN 2 THEN '大宗物资'
        END AS auction_type_s,
        cpa.full_name,
        cpa.lot_areas,
        cpa.lot_areas_id,
        cpa.look_address, cpa.look_coordinate,
        cpas.order_state,
        cpas.auction_start_time,
        cpas.auction_end_time,
        cpas.id as orderId,
        (SELECT
        MAX(HB.BID_AMOUNT)
        FROM
        car_pm_offer_water HB
        WHERE
        HB.is_delete = 0
        AND HB.ORDER_ID = cpas.id
        ) as highestPrice
        FROM
        car_pm_auction cpa
        LEFT JOIN
        car_pm_auction_set cpas ON cpa.id = cpas.auction_id
        LEFT JOIN
        car_pm_paimai cpp ON cpas.pmh_id = cpp.pmh_id
        WHERE
        cpa.is_delete = 0
        AND cpas.is_delete = 0
        AND cpas.is_history = 0
        AND cpp.is_delete = 0
        AND cpp.paimai_state in (1,2)
        AND cpas.order_state in ('50')
        <include refid="ListIf"/>
        ORDER BY
        cpas.order_state DESC ,
        cpas.pm_order ) as bb
        )
        )v
        order by field
        (
        v.order_state,
        '20',
        '10',
        '30',
        '50'
        ),v.auction_start_time desc
    </select>

    <select id="findAuctionTotal" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            car_pm_auction cpa
        LEFT JOIN
            car_pm_auction_set cpas ON cpa.id = cpas.auction_id
        LEFT JOIN
            car_pm_paimai cpp ON cpas.pmh_id = cpp.pmh_id
        WHERE
            cpa.is_delete = 0
            AND cpas.is_delete = 0
            AND cpas.is_history = 0
            AND cpp.is_delete = 0
            AND cpp.paimai_state in (1,2)
            AND cpas.order_state in ('10','20','30','50')
        <include refid="ListIf" />
    </select>

    <select id="getHeightPrice" parameterType="java.lang.String" resultType="int">
        select
        (
        SELECT
            COALESCE(MAX(HB.BID_AMOUNT),'0')
        FROM
            car_pm_offer_water HB
        WHERE
            HB.is_delete = 0
            AND HB.ORDER_ID = cpas.id
        )
        FROM
            car_pm_auction cpa
            LEFT JOIN car_pm_auction_set cpas ON cpa.id = cpas.auction_id
        WHERE
            cpa.id = #{auctionId}
            AND cpas.is_delete = 0
            AND cpas.is_history = 0
    </select>

    <select id="getAuctionInfoByWS" resultMap="auction" parameterType="java.lang.String">
		SELECT
		    SYSDATE() as sysDate,
			cpa.id,
			cpa.auction_type,
			cpas.id as orderId,
			CASE
			    cpa.auction_type
			    WHEN 0 THEN '整车配件'
			    WHEN 1 THEN '高价值配件'
			    WHEN 2 THEN '大宗物资'
			END AS auction_type_s,
			cpa.auction_no,
			cpa.full_name,
			cpa.vin,
			cpa.parts_count,
			cpa.parts_weight,
			cpa.license_number,
			cpa.lot_areas,
			cpa.lot_areas_id,
			cpa.production_date,
			coalesce(cpa.is_has_key,'无') as is_has_key,
			cpa.description,
			cpa.buy_requirement,
			cpa.look_contacts,
			cpa.look_contact_number,
			cpa.look_address,
			cpa.look_coordinate,
			cpa.bid_notice,
			cpa.special_notice,
			cpa.create_user,
			cpa.create_time,
			cpas.starting_price,
			cpa.auction_state as order_state,
			CASE
			    cpa.auction_state
			    WHEN 2 THEN '等待竞拍'
			    WHEN 4 THEN '正在竞拍'
			    WHEN 5 THEN '已成交'
			    WHEN 8 THEN '已流拍'
			END AS order_state_s,
			cpas.commission,
			cpas.other_price,
			cpas.auction_start_time,
			cpas.auction_end_time,
			 (
			 SELECT
            	  MAX(HB.BID_AMOUNT)
             FROM
                  car_pm_offer_water HB
             WHERE
                  HB.is_delete = 0
			      AND HB.ORDER_ID = cpas.id
			 ) as highestPrice
		FROM
			car_pm_auction cpa
        LEFT JOIN
            car_pm_auction_set cpas
            ON cpa.id = cpas.auction_id
		WHERE
			cpa.auction_no = #{auctionNo}
			AND cpas.is_delete = 0
			AND cpas.is_history = 0
	</select>

    <select id="getAuctionDealInfo" parameterType="java.lang.String" resultMap="dealMap">
        SELECT
            cpas.order_no as order_no,
            cpa.id as auction_id,
            cpas.commission as commission,
            cpas.other_price as other_price,
            ( SELECT MAX( HB.BID_AMOUNT ) FROM car_pm_offer_water HB WHERE HB.is_delete = 0 AND HB.ORDER_ID = cpas.id ) AS highest_price,
            cpa.full_name,
            cpa.auction_type
        FROM
            car_pm_auction cpa
            LEFT JOIN car_pm_auction_set cpas
            ON cpa.id = cpas.auction_id
        WHERE
            cpa.id = #{dealId}
            AND cpas.is_delete = 0
            AND cpas.is_history = 0
    </select>

    <insert id="addDealOrder" parameterType="com.tieshan.api.po.tieshanpaiPo.v1.auction.CarPmDeal">
        insert into car_pm_deal
        (id,order_no,auction_id,pay_price,auction_name,deal_time,dealer_id,deal_way,auction_type,deal_cn)
        values
        (
            #{id},
            #{orderNo},
            #{auctionId},
            #{payPrice},
            #{auctionName},
            #{dealTime},
            #{dealerId},
            #{dealWay},
            #{auctionType},
            #{dealCn}
        )
    </insert>

    <select id="getPmOrderByMemberId" parameterType="java.util.Map" resultMap="dealPoMap">
        SELECT
            a.*,
            (select storage_path from tb_attachment where id = b.attachment_id limit 1) as img_path
        FROM
            car_pm_deal a
            left join car_pm_auction_file b on a.auction_id = b.auction_id
        WHERE
            dealer_id = #{mid}
        group by a.auction_id
        limit #{pageNum},#{rows}
    </select>


    <select id="getTotalPmOrder" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
           count(1)
        from
        (
        SELECT
            a.*,
            (select storage_path from tb_attachment where id = b.attachment_id limit 1) as img_path
        FROM
            car_pm_deal a
            left join car_pm_auction_file b on a.auction_id = b.auction_id
        WHERE
            dealer_id = #{mid}
        group by a.auction_id
        ) v
    </select>


    <select id="getAuctionInfo" resultMap="auction">
		SELECT
		    SYSDATE() as sysDate,
			cpa.id,
			cpa.auction_type,
			cpas.id as orderId,
			CASE
			    cpa.auction_type
			    WHEN 0 THEN '整车配件'
			    WHEN 1 THEN '高价值配件'
			    WHEN 2 THEN '大宗物资'
			END AS auction_type_s,
			cpa.auction_no,
			cpa.full_name,
			cpa.vin,
			cpa.parts_count,
			cpa.parts_weight,
			cpa.license_number,
			cpa.lot_areas,
			cpa.lot_areas_id,
			cpa.production_date,
			coalesce(cpa.is_has_key,'无') as is_has_key,
			cpa.description,
			cpa.buy_requirement,
			cpa.look_contacts,
			cpa.look_contact_number,
			cpa.look_address,
			cpa.look_coordinate,
			cpa.bid_notice,
			cpa.special_notice,
			cpa.create_user,
			cpa.create_time,
			cpas.starting_price,
			cpa.auction_state as order_state,
			CASE
			    cpa.auction_state
			    WHEN 2 THEN '等待竞拍'
			    WHEN 4 THEN '正在竞拍'
			    WHEN 5 THEN '已成交'
			    WHEN 8 THEN '已流拍'
			END AS order_state_s,
			cpas.commission,
			cpas.other_price,
			cpas.auction_start_time,
			cpas.auction_end_time,
			 (
			 SELECT
            	  MAX(HB.BID_AMOUNT)
             FROM
                  car_pm_offer_water HB
             WHERE
                  HB.is_delete = 0
			      AND HB.ORDER_ID = cpas.id
			 ) as highestPrice
		FROM
			car_pm_auction cpa
        LEFT JOIN
            car_pm_auction_set cpas
            ON cpa.id = cpas.auction_id
		WHERE
			cpa.id = #{id}
			AND cpas.is_delete = 0
			AND cpas.is_history = 0
	</select>

    <select id="getHeadImgByAuctionId" resultType="String">
		select
			ta.storage_path
		from
			car_pm_auction_file cpf
        left join
            tb_attachment ta on cpf.attachment_id = ta.id
		where
			cpf.auction_id = #{auctionId}
		and
			cpf.is_delete = 0
		and
			ta.isvalid = 1
		order by
			cpf.sort limit 1
	</select>

    <select id="getFileListByAuctionId" resultType="com.tieshan.api.vo.tieshanpaiVo.v1.auction.CarPmAuctionFileVo">
		select
			cpf.id,
			cpf.auction_id,
			cpf.file_type,
			cpf.attachment_id,
			cpf.sort,
			cpf.create_time,
			ta.storage_path imgPath
		from
			car_pm_auction_file cpf
		left join
		    tb_attachment ta
		on
		    cpf.attachment_id = ta.id
		where
			cpf.auction_id = #{auctionId}
		and
			cpf.is_delete = 0
		and
			ta.isvalid = 1
		order by
		    cpf.sort
	</select>


    <select id="getCarScrapOrderAutopartsListByAuctionId" resultMap="carScrapOrderAutopartsVo">
	  SELECT
           CSOA.id,
           CSOA.order_id,
           CSOA.parts_type,
           TCP.parts_name,
           CSOA.parts_num,
           CSO.order_no,
           CSO.car_model_number,
           CSO.car_frame_number,
           CSO.car_number
	  FROM
	      car_scrap_order_autoparts CSOA
      LEFT JOIN
          car_scrap_order CSO on CSOA.order_id = CSO.id
	  LEFT JOIN
	      tb_car_parts TCP on CSOA.parts_type = TCP.id
	  WHERE
	      CSOA.auction_id = #{auctionId}
	  AND
	      CSOA.is_valid = 1
	  AND
	      CSO.isremove = 0
	  ORDER BY
	      CSOA.operatortime
 </select>

    <select id="getPaimaiListByPage" resultMap="BaseResultMap">
        SELECT
            SIP.id,
            SIP.pmh_id,
            SIP.paimai_name,
            SIP.paimai_start_time,
            SIP.interval_time,
            SIP.paimai_finish_time,
            SIP.single_time,
            SIP.remark,
            SIP.paimai_state,
            (
            SELECT
            ta.storage_path
            FROM
            car_pm_auction_file cpf
            LEFT JOIN tb_attachment ta ON cpf.attachment_id = ta.id
            WHERE
            cpf.auction_id = (
            SELECT
            auction_id
            FROM
            car_pm_auction_set SIAS
            LEFT JOIN car_pm_auction SIA ON SIAS.auction_id = SIA.id
            AND SIA.is_delete = 0
            LEFT JOIN car_pm_highest_bid SPHB ON SPHB.ORDER_ID = SIAS.id
            LEFT JOIN sys_client SPCI ON SPCI.id = SIAS.deal_mid
            WHERE
            SIAS.is_delete = 0
            AND SIAS.is_history = 0
            AND SIAS.pmh_id = SIP.pmh_id
            ORDER BY SIAS.auction_start_time desc
            LIMIT 1
            )
            AND cpf.is_delete = 0
            AND ta.isvalid = 1
            ORDER BY
            cpf.sort
            LIMIT 1
            ) as imgPath,
        case
                SIP.paimai_state
                when 0 then '等待发布'
                when 1 then '正在竞拍'
                when 2 then '竞拍结束'
                when 3 then '等待竞拍'
            end
            AS paimai_states,
            DATE_FORMAT(SIP.paimai_start_time, '%H:%i') as starttime,
            SIP.publish_time,
            case
                date_format(SIP.paimai_start_time,'%w')
                when 1 then CONCAT('周一',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
                when 2 then CONCAT('周二',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
                when 3 then CONCAT('周三',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
                when 4 then CONCAT('周四',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
                when 5 then CONCAT('周五',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
                when 6 then CONCAT('周六',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
                when 7 then CONCAT('周日',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
            END	as weekday,
            SIP.create_user,
            SIP.create_time,
            SIP.is_delete,
            (
             SELECT
                  COUNT(1)
             FROM
                  car_pm_auction_set SIAS
             WHERE
                 SIAS.is_delete = 0
             AND
                 SIAS.pmh_id = SIP.pmh_id
            )AS auction_count,
            (
             SELECT
                COUNT(1)
             FROM
                car_pm_auction_set SIAS
            LEFT JOIN
                car_pm_aftersale SIAA
                on SIAS.id = SIAA.auction_set_id
                AND SIAA.is_delete = 0
                AND SIAA.is_history = 0
            WHERE
                SIAS.pmh_id = SIP.pmh_id
            AND
                SIAA.id is not null
            AND
                SIAS.is_delete = 0
            AND
                SIAS.is_history = 0
            )AS deal_count
        FROM
            car_pm_paimai SIP
        left join
            car_pm_auction_set SAB
        on
            SIP.pmh_id = SAB.pmh_id
        WHERE
            SIP.is_delete=0
        and (DATE(SIP.paimai_start_time) >= date(SYSDATE()) or SIP.paimai_state = 1)
        <include refid="ListIfPaiMai" />
        <if test="paimaiState != null">
            AND SIP.paimai_state = #{paimaiState}
        </if>
        group by SIP.pmh_id
        having auction_count>0
        order by FIELD(SIP.paimai_state,1,3,0,2),
        SIP.paimai_start_time
        limit
        ${page}, ${rows}
    </select>

    <select id="getPaimaiListTotal" resultType="int">
        select
        count(1)
        from(
        SELECT
        SIP.id,
        SIP.pmh_id,
        SIP.paimai_name,
        SIP.paimai_start_time,
        SIP.interval_time,
        SIP.paimai_finish_time,
        SIP.single_time,
        SIP.remark,
        SIP.paimai_state,
        (
        SELECT
        ta.storage_path
        FROM
        car_pm_auction_file cpf
        LEFT JOIN tb_attachment ta ON cpf.attachment_id = ta.id
        WHERE
        cpf.auction_id = (
        SELECT
        auction_id
        FROM
        car_pm_auction_set SIAS
        LEFT JOIN car_pm_auction SIA ON SIAS.auction_id = SIA.id
        AND SIA.is_delete = 0
        LEFT JOIN car_pm_highest_bid SPHB ON SPHB.ORDER_ID = SIAS.id
        LEFT JOIN sys_client SPCI ON SPCI.id = SIAS.deal_mid
        WHERE
        SIAS.is_delete = 0
        AND SIAS.is_history = 0
        AND SIAS.pmh_id = SIP.pmh_id
        ORDER BY SIAS.auction_start_time desc
        LIMIT 1
        )
        AND cpf.is_delete = 0
        AND ta.isvalid = 1
        ORDER BY
        cpf.sort
        LIMIT 1
        ) as imgPath,
        case
        SIP.paimai_state
        when 0 then '等待发布'
        when 1 then '正在竞拍'
        when 2 then '竞拍结束'
        when 3 then '等待竞拍'
        end
        AS paimai_states,
        DATE_FORMAT(SIP.paimai_start_time, '%H:%i') as starttime,
        SIP.publish_time,
        case
        date_format(SIP.paimai_start_time,'%w')
        when 1 then CONCAT('周一',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
        when 2 then CONCAT('周二',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
        when 3 then CONCAT('周三',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
        when 4 then CONCAT('周四',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
        when 5 then CONCAT('周五',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
        when 6 then CONCAT('周六',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
        when 7 then CONCAT('周日',' ',SUBSTRING(paimai_start_time,3,2),'-0',MONTH(paimai_start_time),'-', if(LENGTH(DAY(paimai_start_time))>1,DAY(paimai_start_time),CONCAT('0',DAY(paimai_start_time))))
        END	as weekday,
        SIP.create_user,
        SIP.create_time,
        SIP.is_delete,
        (
        SELECT
        COUNT(1)
        FROM
        car_pm_auction_set SIAS
        WHERE
        SIAS.is_delete = 0
        AND
        SIAS.pmh_id = SIP.pmh_id
        )AS auction_count,
        (
        SELECT
        COUNT(1)
        FROM
        car_pm_auction_set SIAS
        LEFT JOIN
        car_pm_aftersale SIAA
        on SIAS.id = SIAA.auction_set_id
        AND SIAA.is_delete = 0
        AND SIAA.is_history = 0
        WHERE
        SIAS.pmh_id = SIP.pmh_id
        AND
        SIAA.id is not null
        AND
        SIAS.is_delete = 0
        AND
        SIAS.is_history = 0
        )AS deal_count
        FROM
        car_pm_paimai SIP
        left join
        car_pm_auction_set SAB
        on
        SIP.pmh_id = SAB.pmh_id
        WHERE
        SIP.is_delete=0
        and DATE(SIP.paimai_start_time) >= date(SYSDATE())
        <include refid="ListIfPaiMai" />
        <if test="paimaiState != null">
            AND SIP.paimai_state = #{paimaiState}
        </if>
        group by SIP.pmh_id
        having auction_count>0
        order by FIELD(SIP.paimai_state,1,3,0,2),
        SIP.paimai_start_time
        )v
    </select>

    <select id="getAuctionCarList" resultMap="auctionCar">
        select
        *
        from
        (
        (
        SELECT
        *
        FROM
        (
        SELECT
        <include refid="getAuctionCarListSQL"/>,
        SPHB.MAXIMUM_PRICE highest_price,
        (SPHB.MAXIMUM_PRICE+SIAS.commission+SIAS.other_price) total_price
        FROM
        car_pm_auction_set SIAS
        LEFT JOIN
        car_pm_auction SIA
        ON SIAS.auction_id = SIA.id
        AND SIA.is_delete = 0
        LEFT JOIN
        car_pm_highest_bid SPHB
        ON SPHB.ORDER_ID = SIAS.id
        LEFT JOIN
        sys_client SPCI ON SPCI.id = SIAS.deal_mid
        LEFT JOIN car_pm_paimai PMH on PMH.pmh_id = SIAS.pmh_id
        WHERE
        SIAS.is_delete = 0
        AND
        SIAS.is_history = 0
        AND
        SIAS.pmh_id = #{pmhId}
        AND SIA.auction_state= 4
        ORDER BY
        SIAS.update_time DESC
        ) AS list2
        )
        UNION
        (
        SELECT
        *
        FROM
        (
        SELECT
        <include refid="getAuctionCarListSQL"/>,
        0 highest_price,
        (0+SIAS.commission+SIAS.other_price) total_price
        FROM
        car_pm_auction_set SIAS
        LEFT JOIN
        car_pm_auction SIA
        ON SIAS.auction_id = SIA.id
        AND SIA.is_delete = 0
        LEFT JOIN
        sys_client SPCI
        ON SPCI.id = SIAS.deal_mid
        LEFT JOIN car_pm_paimai PMH on PMH.pmh_id = SIAS.pmh_id
        WHERE
        SIAS.is_delete = 0
        AND
        SIAS.is_history = 0
        AND
        SIAS.pmh_id = #{pmhId}
        AND
        SIA.auction_state=2
        ORDER BY
        SIAS.update_time DESC
        ) AS list3
        )
        UNION
        (
        SELECT
        *
        FROM
        (
        SELECT
        <include refid="getAuctionCarListSQL"/>,
        SIAS.highest_price,
        (SIAS.highest_price+SIAS.commission+SIAS.other_price) total_price
        FROM
        car_pm_auction_set SIAS
        LEFT JOIN
        car_pm_auction SIA
        ON SIAS.auction_id = SIA.id
        AND SIA.is_delete = 0
        LEFT JOIN
        car_pm_highest_bid SPHB
        ON SPHB.ORDER_ID = SIAS.id
        LEFT JOIN
        sys_client SPCI
        ON SPCI.id = SIAS.deal_mid
        LEFT JOIN car_pm_paimai PMH on PMH.pmh_id = SIAS.pmh_id
        WHERE
        SIAS.is_delete = 0
        AND
        SIAS.pmh_id = #{pmhId}
        AND
        SIA.auction_state=5
        ORDER BY
        SIAS.update_time DESC) AS list4
        )
        UNION
        (
        SELECT
        *
        FROM
        (
        SELECT
        <include refid="getAuctionCarListSQL"/>,
        SIAS.highest_price,
        (SIAS.highest_price+SIAS.commission+SIAS.other_price) total_price
        FROM
        car_pm_auction_set SIAS
        LEFT JOIN
        car_pm_auction SIA
        ON SIAS.auction_id = SIA.id
        AND SIA.is_delete = 0
        LEFT JOIN
        car_pm_highest_bid SPHB
        ON SPHB.ORDER_ID = SIAS.id
        LEFT JOIN
        sys_client SPCI
        ON SPCI.id = SIAS.deal_mid
        LEFT JOIN car_pm_paimai PMH on PMH.pmh_id = SIAS.pmh_id
        WHERE
        SIAS.is_delete = 0
        AND
        SIAS.pmh_id = #{pmhId}
        AND
        SIA.auction_state=8
        ORDER BY
        SIAS.update_time DESC) AS list4
        )
        ) v
        order by substring(auction_no,12,3),field(order_state,4,2,5,8)
    </select>

    <update id="updateSinglePiece" parameterType="map">
        update
            car_pm_auction_set
        <set>
            <if test="smap.start!=null and smap.start!='' ">
                auction_start_time = #{smap.start},
            </if>
            <if test="smap.end!=null and smap.end!=''">
                auction_end_time = #{smap.end}
            </if>
        </set>
        where auction_id = #{smap.sid}
    </update>
</mapper>