<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.v1.auction.CarPmAftersaleMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.v1.auction.CarPmAftersale">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="auction_id" jdbcType="VARCHAR" property="auctionId" />
    <result column="auction_set_id" jdbcType="VARCHAR" property="auctionSetId" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="deal_handler" jdbcType="VARCHAR" property="dealHandler" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="pay_state" jdbcType="INTEGER" property="payState" />
    <result column="take_car_time" jdbcType="TIMESTAMP" property="takeCarTime" />
    <result column="take_car_state" jdbcType="INTEGER" property="takeCarState" />
    <result column="defer_state" jdbcType="INTEGER" property="deferState" />
    <result column="adjust_price_state" jdbcType="INTEGER" property="adjustPriceState" />
    <result column="back_car_state" jdbcType="INTEGER" property="backCarState" />
    <result column="is_history" jdbcType="BIT" property="isHistory" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auction_id, auction_set_id, deal_time, deal_handler, pay_time, pay_state, take_car_time, 
    take_car_state, defer_state, adjust_price_state, back_car_state, is_history, is_delete, 
    create_user, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_pm_aftersale
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_pm_aftersale
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.v1.auction.CarPmAftersale">
    insert into car_pm_aftersale (id, auction_id, auction_set_id, 
      deal_time, deal_handler, pay_time, 
      pay_state, take_car_time, take_car_state, 
      defer_state, adjust_price_state, back_car_state, 
      is_history, is_delete, create_user, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{auctionId,jdbcType=VARCHAR}, #{auctionSetId,jdbcType=VARCHAR}, 
      #{dealTime,jdbcType=TIMESTAMP}, #{dealHandler,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{payState,jdbcType=INTEGER}, #{takeCarTime,jdbcType=TIMESTAMP}, #{takeCarState,jdbcType=INTEGER}, 
      #{deferState,jdbcType=INTEGER}, #{adjustPriceState,jdbcType=INTEGER}, #{backCarState,jdbcType=INTEGER}, 
      #{isHistory,jdbcType=BIT}, #{isDelete,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.v1.auction.CarPmAftersale">
    insert into car_pm_aftersale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="auctionId != null">
        auction_id,
      </if>
      <if test="auctionSetId != null">
        auction_set_id,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
      <if test="dealHandler != null">
        deal_handler,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="payState != null">
        pay_state,
      </if>
      <if test="takeCarTime != null">
        take_car_time,
      </if>
      <if test="takeCarState != null">
        take_car_state,
      </if>
      <if test="deferState != null">
        defer_state,
      </if>
      <if test="adjustPriceState != null">
        adjust_price_state,
      </if>
      <if test="backCarState != null">
        back_car_state,
      </if>
      <if test="isHistory != null">
        is_history,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="auctionId != null">
        #{auctionId,jdbcType=VARCHAR},
      </if>
      <if test="auctionSetId != null">
        #{auctionSetId,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealHandler != null">
        #{dealHandler,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payState != null">
        #{payState,jdbcType=INTEGER},
      </if>
      <if test="takeCarTime != null">
        #{takeCarTime,jdbcType=TIMESTAMP},
      </if>
      <if test="takeCarState != null">
        #{takeCarState,jdbcType=INTEGER},
      </if>
      <if test="deferState != null">
        #{deferState,jdbcType=INTEGER},
      </if>
      <if test="adjustPriceState != null">
        #{adjustPriceState,jdbcType=INTEGER},
      </if>
      <if test="backCarState != null">
        #{backCarState,jdbcType=INTEGER},
      </if>
      <if test="isHistory != null">
        #{isHistory,jdbcType=BIT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.v1.auction.CarPmAftersale">
    update car_pm_aftersale
    <set>
      <if test="auctionId != null">
        auction_id = #{auctionId,jdbcType=VARCHAR},
      </if>
      <if test="auctionSetId != null">
        auction_set_id = #{auctionSetId,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealHandler != null">
        deal_handler = #{dealHandler,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payState != null">
        pay_state = #{payState,jdbcType=INTEGER},
      </if>
      <if test="takeCarTime != null">
        take_car_time = #{takeCarTime,jdbcType=TIMESTAMP},
      </if>
      <if test="takeCarState != null">
        take_car_state = #{takeCarState,jdbcType=INTEGER},
      </if>
      <if test="deferState != null">
        defer_state = #{deferState,jdbcType=INTEGER},
      </if>
      <if test="adjustPriceState != null">
        adjust_price_state = #{adjustPriceState,jdbcType=INTEGER},
      </if>
      <if test="backCarState != null">
        back_car_state = #{backCarState,jdbcType=INTEGER},
      </if>
      <if test="isHistory != null">
        is_history = #{isHistory,jdbcType=BIT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.v1.auction.CarPmAftersale">
    update car_pm_aftersale
    set auction_id = #{auctionId,jdbcType=VARCHAR},
      auction_set_id = #{auctionSetId,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      deal_handler = #{dealHandler,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_state = #{payState,jdbcType=INTEGER},
      take_car_time = #{takeCarTime,jdbcType=TIMESTAMP},
      take_car_state = #{takeCarState,jdbcType=INTEGER},
      defer_state = #{deferState,jdbcType=INTEGER},
      adjust_price_state = #{adjustPriceState,jdbcType=INTEGER},
      back_car_state = #{backCarState,jdbcType=INTEGER},
      is_history = #{isHistory,jdbcType=BIT},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>