<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.CarPmCustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.CarPmCustomerInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="validity" jdbcType="BIGINT" property="validity" />
    <result column="front_idcard" jdbcType="INTEGER" property="frontIdcard" />
    <result column="back_idcard" jdbcType="INTEGER" property="backIdcard" />
    <result column="hand_idcard" jdbcType="INTEGER" property="handIdcard" />
    <result column="certification_submit_time" jdbcType="TIMESTAMP" property="certificationSubmitTime" />
    <result column="certification_state" jdbcType="INTEGER" property="certificationState" />
    <result column="certification_audit_time" jdbcType="TIMESTAMP" property="certificationAuditTime" />
    <result column="certification_audit_user" jdbcType="VARCHAR" property="certificationAuditUser" />
    <result column="certification_memo" jdbcType="VARCHAR" property="certificationMemo" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="verifyMember" jdbcType="INTEGER" property="verifymember" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname, phone, password, avatar, realname, id_card, validity, front_idcard, 
    back_idcard, hand_idcard, certification_submit_time, certification_state, certification_audit_time, 
    certification_audit_user, certification_memo, province, city, verifyMember, status, 
    is_delete, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_pm_customer_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from car_pm_customer_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmCustomerInfo">
    insert into car_pm_customer_info (id, nickname, phone, 
      password, avatar, realname, 
      id_card, validity, front_idcard, 
      back_idcard, hand_idcard, certification_submit_time, 
      certification_state, certification_audit_time, 
      certification_audit_user, certification_memo, 
      province, city, verifyMember, 
      status, is_delete, create_user, 
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{validity,jdbcType=BIGINT}, #{frontIdcard,jdbcType=INTEGER}, 
      #{backIdcard,jdbcType=INTEGER}, #{handIdcard,jdbcType=INTEGER}, #{certificationSubmitTime,jdbcType=TIMESTAMP}, 
      #{certificationState,jdbcType=INTEGER}, #{certificationAuditTime,jdbcType=TIMESTAMP}, 
      #{certificationAuditUser,jdbcType=VARCHAR}, #{certificationMemo,jdbcType=VARCHAR}, 
      #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, #{verifymember,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmCustomerInfo">
    insert into car_pm_customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="validity != null">
        validity,
      </if>
      <if test="frontIdcard != null">
        front_idcard,
      </if>
      <if test="backIdcard != null">
        back_idcard,
      </if>
      <if test="handIdcard != null">
        hand_idcard,
      </if>
      <if test="certificationSubmitTime != null">
        certification_submit_time,
      </if>
      <if test="certificationState != null">
        certification_state,
      </if>
      <if test="certificationAuditTime != null">
        certification_audit_time,
      </if>
      <if test="certificationAuditUser != null">
        certification_audit_user,
      </if>
      <if test="certificationMemo != null">
        certification_memo,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="verifymember != null">
        verifyMember,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="validity != null">
        #{validity,jdbcType=BIGINT},
      </if>
      <if test="frontIdcard != null">
        #{frontIdcard,jdbcType=INTEGER},
      </if>
      <if test="backIdcard != null">
        #{backIdcard,jdbcType=INTEGER},
      </if>
      <if test="handIdcard != null">
        #{handIdcard,jdbcType=INTEGER},
      </if>
      <if test="certificationSubmitTime != null">
        #{certificationSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certificationState != null">
        #{certificationState,jdbcType=INTEGER},
      </if>
      <if test="certificationAuditTime != null">
        #{certificationAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certificationAuditUser != null">
        #{certificationAuditUser,jdbcType=VARCHAR},
      </if>
      <if test="certificationMemo != null">
        #{certificationMemo,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=INTEGER},
      </if>
      <if test="verifymember != null">
        #{verifymember,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmCustomerInfo">
    update car_pm_customer_info
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="validity != null">
        validity = #{validity,jdbcType=BIGINT},
      </if>
      <if test="frontIdcard != null">
        front_idcard = #{frontIdcard,jdbcType=INTEGER},
      </if>
      <if test="backIdcard != null">
        back_idcard = #{backIdcard,jdbcType=INTEGER},
      </if>
      <if test="handIdcard != null">
        hand_idcard = #{handIdcard,jdbcType=INTEGER},
      </if>
      <if test="certificationSubmitTime != null">
        certification_submit_time = #{certificationSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certificationState != null">
        certification_state = #{certificationState,jdbcType=INTEGER},
      </if>
      <if test="certificationAuditTime != null">
        certification_audit_time = #{certificationAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certificationAuditUser != null">
        certification_audit_user = #{certificationAuditUser,jdbcType=VARCHAR},
      </if>
      <if test="certificationMemo != null">
        certification_memo = #{certificationMemo,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="verifymember != null">
        verifyMember = #{verifymember,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmCustomerInfo">
    update car_pm_customer_info
    set nickname = #{nickname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      validity = #{validity,jdbcType=BIGINT},
      front_idcard = #{frontIdcard,jdbcType=INTEGER},
      back_idcard = #{backIdcard,jdbcType=INTEGER},
      hand_idcard = #{handIdcard,jdbcType=INTEGER},
      certification_submit_time = #{certificationSubmitTime,jdbcType=TIMESTAMP},
      certification_state = #{certificationState,jdbcType=INTEGER},
      certification_audit_time = #{certificationAuditTime,jdbcType=TIMESTAMP},
      certification_audit_user = #{certificationAuditUser,jdbcType=VARCHAR},
      certification_memo = #{certificationMemo,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      verifyMember = #{verifymember,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>