<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.CarPmAuctionSetMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionSet">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="auction_id" jdbcType="VARCHAR" property="auctionId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="starting_price" jdbcType="DECIMAL" property="startingPrice" />
    <result column="reserve_price" jdbcType="DECIMAL" property="reservePrice" />
    <result column="auction_cash_deposit" jdbcType="DECIMAL" property="auctionCashDeposit" />
    <result column="commission" jdbcType="DECIMAL" property="commission" />
    <result column="other_price" jdbcType="DECIMAL" property="otherPrice" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="order_state" jdbcType="VARCHAR" property="orderState" />
    <result column="pmh_id" jdbcType="VARCHAR" property="pmhId" />
    <result column="pm_order" jdbcType="INTEGER" property="pmOrder" />
    <result column="auction_start_time" jdbcType="TIMESTAMP" property="auctionStartTime" />
    <result column="auction_end_time" jdbcType="TIMESTAMP" property="auctionEndTime" />
    <result column="interval_time" jdbcType="INTEGER" property="intervalTime" />
    <result column="single_time" jdbcType="INTEGER" property="singleTime" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="deal_type" jdbcType="VARCHAR" property="dealType" />
    <result column="deal_mid" jdbcType="VARCHAR" property="dealMid" />
    <result column="deal_member" jdbcType="VARCHAR" property="dealMember" />
    <result column="joint_price" jdbcType="DECIMAL" property="jointPrice" />
    <result column="highest_price" jdbcType="DECIMAL" property="highestPrice" />
    <result column="is_history" jdbcType="BIT" property="isHistory" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auction_id, order_no, starting_price, reserve_price, auction_cash_deposit, commission, 
    other_price, remark, order_state, pmh_id, pm_order, auction_start_time, auction_end_time, 
    interval_time, single_time, deal_time, deal_type, deal_mid, deal_member, joint_price, 
    highest_price, is_history, is_delete, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_pm_auction_set
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_pm_auction_set
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionSet">
    insert into car_pm_auction_set (id, auction_id, order_no, 
      starting_price, reserve_price, auction_cash_deposit, 
      commission, other_price, remark, 
      order_state, pmh_id, pm_order, 
      auction_start_time, auction_end_time, interval_time, 
      single_time, deal_time, deal_type, 
      deal_mid, deal_member, joint_price, 
      highest_price, is_history, is_delete, 
      create_user, create_time, update_user, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{auctionId,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{startingPrice,jdbcType=DECIMAL}, #{reservePrice,jdbcType=DECIMAL}, #{auctionCashDeposit,jdbcType=DECIMAL}, 
      #{commission,jdbcType=DECIMAL}, #{otherPrice,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{orderState,jdbcType=VARCHAR}, #{pmhId,jdbcType=VARCHAR}, #{pmOrder,jdbcType=INTEGER}, 
      #{auctionStartTime,jdbcType=TIMESTAMP}, #{auctionEndTime,jdbcType=TIMESTAMP}, #{intervalTime,jdbcType=INTEGER}, 
      #{singleTime,jdbcType=INTEGER}, #{dealTime,jdbcType=TIMESTAMP}, #{dealType,jdbcType=VARCHAR}, 
      #{dealMid,jdbcType=VARCHAR}, #{dealMember,jdbcType=VARCHAR}, #{jointPrice,jdbcType=DECIMAL}, 
      #{highestPrice,jdbcType=DECIMAL}, #{isHistory,jdbcType=BIT}, #{isDelete,jdbcType=BIT}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionSet">
    insert into car_pm_auction_set
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="auctionId != null">
        auction_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="startingPrice != null">
        starting_price,
      </if>
      <if test="reservePrice != null">
        reserve_price,
      </if>
      <if test="auctionCashDeposit != null">
        auction_cash_deposit,
      </if>
      <if test="commission != null">
        commission,
      </if>
      <if test="otherPrice != null">
        other_price,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="pmhId != null">
        pmh_id,
      </if>
      <if test="pmOrder != null">
        pm_order,
      </if>
      <if test="auctionStartTime != null">
        auction_start_time,
      </if>
      <if test="auctionEndTime != null">
        auction_end_time,
      </if>
      <if test="intervalTime != null">
        interval_time,
      </if>
      <if test="singleTime != null">
        single_time,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
      <if test="dealType != null">
        deal_type,
      </if>
      <if test="dealMid != null">
        deal_mid,
      </if>
      <if test="dealMember != null">
        deal_member,
      </if>
      <if test="jointPrice != null">
        joint_price,
      </if>
      <if test="highestPrice != null">
        highest_price,
      </if>
      <if test="isHistory != null">
        is_history,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="auctionId != null">
        #{auctionId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="startingPrice != null">
        #{startingPrice,jdbcType=DECIMAL},
      </if>
      <if test="reservePrice != null">
        #{reservePrice,jdbcType=DECIMAL},
      </if>
      <if test="auctionCashDeposit != null">
        #{auctionCashDeposit,jdbcType=DECIMAL},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DECIMAL},
      </if>
      <if test="otherPrice != null">
        #{otherPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="pmhId != null">
        #{pmhId,jdbcType=VARCHAR},
      </if>
      <if test="pmOrder != null">
        #{pmOrder,jdbcType=INTEGER},
      </if>
      <if test="auctionStartTime != null">
        #{auctionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionEndTime != null">
        #{auctionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intervalTime != null">
        #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="singleTime != null">
        #{singleTime,jdbcType=INTEGER},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=VARCHAR},
      </if>
      <if test="dealMid != null">
        #{dealMid,jdbcType=VARCHAR},
      </if>
      <if test="dealMember != null">
        #{dealMember,jdbcType=VARCHAR},
      </if>
      <if test="jointPrice != null">
        #{jointPrice,jdbcType=DECIMAL},
      </if>
      <if test="highestPrice != null">
        #{highestPrice,jdbcType=DECIMAL},
      </if>
      <if test="isHistory != null">
        #{isHistory,jdbcType=BIT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionSet">
    update car_pm_auction_set
    <set>
      <if test="auctionId != null">
        auction_id = #{auctionId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="startingPrice != null">
        starting_price = #{startingPrice,jdbcType=DECIMAL},
      </if>
      <if test="reservePrice != null">
        reserve_price = #{reservePrice,jdbcType=DECIMAL},
      </if>
      <if test="auctionCashDeposit != null">
        auction_cash_deposit = #{auctionCashDeposit,jdbcType=DECIMAL},
      </if>
      <if test="commission != null">
        commission = #{commission,jdbcType=DECIMAL},
      </if>
      <if test="otherPrice != null">
        other_price = #{otherPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="pmhId != null">
        pmh_id = #{pmhId,jdbcType=VARCHAR},
      </if>
      <if test="pmOrder != null">
        pm_order = #{pmOrder,jdbcType=INTEGER},
      </if>
      <if test="auctionStartTime != null">
        auction_start_time = #{auctionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionEndTime != null">
        auction_end_time = #{auctionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intervalTime != null">
        interval_time = #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="singleTime != null">
        single_time = #{singleTime,jdbcType=INTEGER},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null">
        deal_type = #{dealType,jdbcType=VARCHAR},
      </if>
      <if test="dealMid != null">
        deal_mid = #{dealMid,jdbcType=VARCHAR},
      </if>
      <if test="dealMember != null">
        deal_member = #{dealMember,jdbcType=VARCHAR},
      </if>
      <if test="jointPrice != null">
        joint_price = #{jointPrice,jdbcType=DECIMAL},
      </if>
      <if test="highestPrice != null">
        highest_price = #{highestPrice,jdbcType=DECIMAL},
      </if>
      <if test="isHistory != null">
        is_history = #{isHistory,jdbcType=BIT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionSet">
    update car_pm_auction_set
    set auction_id = #{auctionId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      starting_price = #{startingPrice,jdbcType=DECIMAL},
      reserve_price = #{reservePrice,jdbcType=DECIMAL},
      auction_cash_deposit = #{auctionCashDeposit,jdbcType=DECIMAL},
      commission = #{commission,jdbcType=DECIMAL},
      other_price = #{otherPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=VARCHAR},
      pmh_id = #{pmhId,jdbcType=VARCHAR},
      pm_order = #{pmOrder,jdbcType=INTEGER},
      auction_start_time = #{auctionStartTime,jdbcType=TIMESTAMP},
      auction_end_time = #{auctionEndTime,jdbcType=TIMESTAMP},
      interval_time = #{intervalTime,jdbcType=INTEGER},
      single_time = #{singleTime,jdbcType=INTEGER},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      deal_type = #{dealType,jdbcType=VARCHAR},
      deal_mid = #{dealMid,jdbcType=VARCHAR},
      deal_member = #{dealMember,jdbcType=VARCHAR},
      joint_price = #{jointPrice,jdbcType=DECIMAL},
      highest_price = #{highestPrice,jdbcType=DECIMAL},
      is_history = #{isHistory,jdbcType=BIT},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>