<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.CarPmFinanceMarginRuleMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.CarPmFinanceMarginRule">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="auction_type" jdbcType="VARCHAR" property="auctionType" />
    <result column="margin_type" jdbcType="VARCHAR" property="marginType" />
    <result column="deal_start_price" jdbcType="DECIMAL" property="dealStartPrice" />
    <result column="deal_end_price" jdbcType="DECIMAL" property="dealEndPrice" />
    <result column="cur_price_type" jdbcType="VARCHAR" property="curPriceType" />
    <result column="cur_price" jdbcType="DECIMAL" property="curPrice" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auction_type, margin_type, deal_start_price, deal_end_price, cur_price_type, 
    cur_price, is_delete, create_user, create_time, ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_pm_finance_margin_rule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_pm_finance_margin_rule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmFinanceMarginRule">
    insert into car_pm_finance_margin_rule (id, auction_type, margin_type, 
      deal_start_price, deal_end_price, cur_price_type, 
      cur_price, is_delete, create_user, 
      create_time, ts)
    values (#{id,jdbcType=VARCHAR}, #{auctionType,jdbcType=VARCHAR}, #{marginType,jdbcType=VARCHAR}, 
      #{dealStartPrice,jdbcType=DECIMAL}, #{dealEndPrice,jdbcType=DECIMAL}, #{curPriceType,jdbcType=VARCHAR}, 
      #{curPrice,jdbcType=DECIMAL}, #{isDelete,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmFinanceMarginRule">
    insert into car_pm_finance_margin_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="auctionType != null">
        auction_type,
      </if>
      <if test="marginType != null">
        margin_type,
      </if>
      <if test="dealStartPrice != null">
        deal_start_price,
      </if>
      <if test="dealEndPrice != null">
        deal_end_price,
      </if>
      <if test="curPriceType != null">
        cur_price_type,
      </if>
      <if test="curPrice != null">
        cur_price,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="auctionType != null">
        #{auctionType,jdbcType=VARCHAR},
      </if>
      <if test="marginType != null">
        #{marginType,jdbcType=VARCHAR},
      </if>
      <if test="dealStartPrice != null">
        #{dealStartPrice,jdbcType=DECIMAL},
      </if>
      <if test="dealEndPrice != null">
        #{dealEndPrice,jdbcType=DECIMAL},
      </if>
      <if test="curPriceType != null">
        #{curPriceType,jdbcType=VARCHAR},
      </if>
      <if test="curPrice != null">
        #{curPrice,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmFinanceMarginRule">
    update car_pm_finance_margin_rule
    <set>
      <if test="auctionType != null">
        auction_type = #{auctionType,jdbcType=VARCHAR},
      </if>
      <if test="marginType != null">
        margin_type = #{marginType,jdbcType=VARCHAR},
      </if>
      <if test="dealStartPrice != null">
        deal_start_price = #{dealStartPrice,jdbcType=DECIMAL},
      </if>
      <if test="dealEndPrice != null">
        deal_end_price = #{dealEndPrice,jdbcType=DECIMAL},
      </if>
      <if test="curPriceType != null">
        cur_price_type = #{curPriceType,jdbcType=VARCHAR},
      </if>
      <if test="curPrice != null">
        cur_price = #{curPrice,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmFinanceMarginRule">
    update car_pm_finance_margin_rule
    set auction_type = #{auctionType,jdbcType=VARCHAR},
      margin_type = #{marginType,jdbcType=VARCHAR},
      deal_start_price = #{dealStartPrice,jdbcType=DECIMAL},
      deal_end_price = #{dealEndPrice,jdbcType=DECIMAL},
      cur_price_type = #{curPriceType,jdbcType=VARCHAR},
      cur_price = #{curPrice,jdbcType=DECIMAL},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>