<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.CarPmOfferWaterMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.CarPmOfferWater">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mid" jdbcType="VARCHAR" property="mid" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="auction_no" jdbcType="VARCHAR" property="auctionNo" />
    <result column="bid_amount" jdbcType="INTEGER" property="bidAmount" />
    <result column="bid_time" jdbcType="TIMESTAMP" property="bidTime" />
    <result column="bid_way" jdbcType="INTEGER" property="bidWay" />
    <result column="margin" jdbcType="INTEGER" property="margin" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, order_id, order_no, auction_no, bid_amount, bid_time, bid_way, margin, is_delete, 
    create_user, create_time, ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_pm_offer_water
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_pm_offer_water
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmOfferWater">
    insert into car_pm_offer_water (id, mid, order_id, 
      order_no, auction_no, bid_amount, 
      bid_time, bid_way, margin, 
      is_delete, create_user, create_time, 
      ts)
    values (#{id,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{auctionNo,jdbcType=VARCHAR}, #{bidAmount,jdbcType=INTEGER}, 
      #{bidTime,jdbcType=TIMESTAMP}, #{bidWay,jdbcType=INTEGER}, #{margin,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmOfferWater">
    insert into car_pm_offer_water
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="auctionNo != null">
        auction_no,
      </if>
      <if test="bidAmount != null">
        bid_amount,
      </if>
      <if test="bidTime != null">
        bid_time,
      </if>
      <if test="bidWay != null">
        bid_way,
      </if>
      <if test="margin != null">
        margin,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="auctionNo != null">
        #{auctionNo,jdbcType=VARCHAR},
      </if>
      <if test="bidAmount != null">
        #{bidAmount,jdbcType=INTEGER},
      </if>
      <if test="bidTime != null">
        #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidWay != null">
        #{bidWay,jdbcType=INTEGER},
      </if>
      <if test="margin != null">
        #{margin,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmOfferWater">
    update car_pm_offer_water
    <set>
      <if test="mid != null">
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="auctionNo != null">
        auction_no = #{auctionNo,jdbcType=VARCHAR},
      </if>
      <if test="bidAmount != null">
        bid_amount = #{bidAmount,jdbcType=INTEGER},
      </if>
      <if test="bidTime != null">
        bid_time = #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidWay != null">
        bid_way = #{bidWay,jdbcType=INTEGER},
      </if>
      <if test="margin != null">
        margin = #{margin,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmOfferWater">
    update car_pm_offer_water
    set mid = #{mid,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      auction_no = #{auctionNo,jdbcType=VARCHAR},
      bid_amount = #{bidAmount,jdbcType=INTEGER},
      bid_time = #{bidTime,jdbcType=TIMESTAMP},
      bid_way = #{bidWay,jdbcType=INTEGER},
      margin = #{margin,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>