<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.CarPmHighestBidMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.CarPmHighestBid">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="auction_no" jdbcType="VARCHAR" property="auctionNo" />
    <result column="mid" jdbcType="VARCHAR" property="mid" />
    <result column="maximum_price" jdbcType="INTEGER" property="maximumPrice" />
    <result column="margin" jdbcType="INTEGER" property="margin" />
    <result column="bid_way" jdbcType="INTEGER" property="bidWay" />
    <result column="bid_type" jdbcType="INTEGER" property="bidType" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, order_no, auction_no, mid, maximum_price, margin, bid_way, bid_type, 
    is_delete, ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_pm_highest_bid
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_pm_highest_bid
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmHighestBid">
    insert into car_pm_highest_bid (id, order_id, order_no, 
      auction_no, mid, maximum_price, 
      margin, bid_way, bid_type, 
      is_delete, ts)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{auctionNo,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}, #{maximumPrice,jdbcType=INTEGER}, 
      #{margin,jdbcType=INTEGER}, #{bidWay,jdbcType=INTEGER}, #{bidType,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmHighestBid">
    insert into car_pm_highest_bid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="auctionNo != null">
        auction_no,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="maximumPrice != null">
        maximum_price,
      </if>
      <if test="margin != null">
        margin,
      </if>
      <if test="bidWay != null">
        bid_way,
      </if>
      <if test="bidType != null">
        bid_type,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="auctionNo != null">
        #{auctionNo,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="maximumPrice != null">
        #{maximumPrice,jdbcType=INTEGER},
      </if>
      <if test="margin != null">
        #{margin,jdbcType=INTEGER},
      </if>
      <if test="bidWay != null">
        #{bidWay,jdbcType=INTEGER},
      </if>
      <if test="bidType != null">
        #{bidType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmHighestBid">
    update car_pm_highest_bid
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="auctionNo != null">
        auction_no = #{auctionNo,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="maximumPrice != null">
        maximum_price = #{maximumPrice,jdbcType=INTEGER},
      </if>
      <if test="margin != null">
        margin = #{margin,jdbcType=INTEGER},
      </if>
      <if test="bidWay != null">
        bid_way = #{bidWay,jdbcType=INTEGER},
      </if>
      <if test="bidType != null">
        bid_type = #{bidType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmHighestBid">
    update car_pm_highest_bid
    set order_id = #{orderId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      auction_no = #{auctionNo,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=VARCHAR},
      maximum_price = #{maximumPrice,jdbcType=INTEGER},
      margin = #{margin,jdbcType=INTEGER},
      bid_way = #{bidWay,jdbcType=INTEGER},
      bid_type = #{bidType,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>