<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.CarPmProcedureMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.CarPmProcedure">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="auction_id" jdbcType="VARCHAR" property="auctionId" />
    <result column="entrust_contract_no" jdbcType="VARCHAR" property="entrustContractNo" />
    <result column="handover_bill_no" jdbcType="VARCHAR" property="handoverBillNo" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="audit_state" jdbcType="INTEGER" property="auditState" />
    <result column="is_record" jdbcType="INTEGER" property="isRecord" />
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auction_id, entrust_contract_no, handover_bill_no, province, province_id, city, 
    city_id, area, area_id, address, audit_state, is_record, in_time, out_time, version, 
    is_delete, create_user, create_time, update_user, update_time, ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_pm_procedure
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_pm_procedure
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmProcedure">
    insert into car_pm_procedure (id, auction_id, entrust_contract_no, 
      handover_bill_no, province, province_id, 
      city, city_id, area, 
      area_id, address, audit_state, 
      is_record, in_time, out_time, 
      version, is_delete, create_user, 
      create_time, update_user, update_time, 
      ts)
    values (#{id,jdbcType=VARCHAR}, #{auctionId,jdbcType=VARCHAR}, #{entrustContractNo,jdbcType=VARCHAR}, 
      #{handoverBillNo,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, 
      #{city,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{auditState,jdbcType=INTEGER}, 
      #{isRecord,jdbcType=INTEGER}, #{inTime,jdbcType=TIMESTAMP}, #{outTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmProcedure">
    insert into car_pm_procedure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="auctionId != null">
        auction_id,
      </if>
      <if test="entrustContractNo != null">
        entrust_contract_no,
      </if>
      <if test="handoverBillNo != null">
        handover_bill_no,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="auditState != null">
        audit_state,
      </if>
      <if test="isRecord != null">
        is_record,
      </if>
      <if test="inTime != null">
        in_time,
      </if>
      <if test="outTime != null">
        out_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="auctionId != null">
        #{auctionId,jdbcType=VARCHAR},
      </if>
      <if test="entrustContractNo != null">
        #{entrustContractNo,jdbcType=VARCHAR},
      </if>
      <if test="handoverBillNo != null">
        #{handoverBillNo,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="auditState != null">
        #{auditState,jdbcType=INTEGER},
      </if>
      <if test="isRecord != null">
        #{isRecord,jdbcType=INTEGER},
      </if>
      <if test="inTime != null">
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null">
        #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmProcedure">
    update car_pm_procedure
    <set>
      <if test="auctionId != null">
        auction_id = #{auctionId,jdbcType=VARCHAR},
      </if>
      <if test="entrustContractNo != null">
        entrust_contract_no = #{entrustContractNo,jdbcType=VARCHAR},
      </if>
      <if test="handoverBillNo != null">
        handover_bill_no = #{handoverBillNo,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="auditState != null">
        audit_state = #{auditState,jdbcType=INTEGER},
      </if>
      <if test="isRecord != null">
        is_record = #{isRecord,jdbcType=INTEGER},
      </if>
      <if test="inTime != null">
        in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null">
        out_time = #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmProcedure">
    update car_pm_procedure
    set auction_id = #{auctionId,jdbcType=VARCHAR},
      entrust_contract_no = #{entrustContractNo,jdbcType=VARCHAR},
      handover_bill_no = #{handoverBillNo,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      area = #{area,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      audit_state = #{auditState,jdbcType=INTEGER},
      is_record = #{isRecord,jdbcType=INTEGER},
      in_time = #{inTime,jdbcType=TIMESTAMP},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>