<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.tieshanpaiMapper.CarPmAuctionMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.tieshanpaiPo.CarPmAuction">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="auction_type" jdbcType="INTEGER" property="auctionType" />
    <result column="auction_no" jdbcType="VARCHAR" property="auctionNo" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="vin" jdbcType="VARCHAR" property="vin" />
    <result column="vehicle_brand" jdbcType="VARCHAR" property="vehicleBrand" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="vehicle_system" jdbcType="VARCHAR" property="vehicleSystem" />
    <result column="license_number" jdbcType="VARCHAR" property="licenseNumber" />
    <result column="lot_areas" jdbcType="VARCHAR" property="lotAreas" />
    <result column="lot_areas_id" jdbcType="INTEGER" property="lotAreasId" />
    <result column="parts_count" jdbcType="INTEGER" property="partsCount" />
    <result column="parts_weight" jdbcType="VARCHAR" property="partsWeight" />
    <result column="production_date" jdbcType="TIMESTAMP" property="productionDate" />
    <result column="is_has_key" jdbcType="VARCHAR" property="isHasKey" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="buy_requirement" jdbcType="VARCHAR" property="buyRequirement" />
    <result column="look_contacts" jdbcType="VARCHAR" property="lookContacts" />
    <result column="look_contact_number" jdbcType="VARCHAR" property="lookContactNumber" />
    <result column="look_address" jdbcType="VARCHAR" property="lookAddress" />
    <result column="look_coordinate" jdbcType="VARCHAR" property="lookCoordinate" />
    <result column="auction_state" jdbcType="INTEGER" property="auctionState" />
    <result column="audit_state" jdbcType="INTEGER" property="auditState" />
    <result column="set_state" jdbcType="INTEGER" property="setState" />
    <result column="auction_audit_state" jdbcType="INTEGER" property="auctionAuditState" />
    <result column="regist_state" jdbcType="INTEGER" property="registState" />
    <result column="procedure_state" jdbcType="INTEGER" property="procedureState" />
    <result column="stock_state" jdbcType="INTEGER" property="stockState" />
    <result column="aftersale_state" jdbcType="INTEGER" property="aftersaleState" />
    <result column="abortive_state" jdbcType="INTEGER" property="abortiveState" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionWithBLOBs">
    <result column="bid_notice" jdbcType="LONGVARCHAR" property="bidNotice" />
    <result column="special_notice" jdbcType="LONGVARCHAR" property="specialNotice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auction_type, auction_no, full_name, vin, vehicle_brand, vehicle_type, vehicle_system, 
    license_number, lot_areas, lot_areas_id, parts_count, parts_weight, production_date, 
    is_has_key, description, buy_requirement, look_contacts, look_contact_number, look_address, 
    look_coordinate, auction_state, audit_state, set_state, auction_audit_state, regist_state, 
    procedure_state, stock_state, aftersale_state, abortive_state, is_delete, create_user, 
    create_time, update_user, update_time, ts
  </sql>
  <sql id="Blob_Column_List">
    bid_notice, special_notice
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from car_pm_auction
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_pm_auction
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionWithBLOBs">
    insert into car_pm_auction (id, auction_type, auction_no, 
      full_name, vin, vehicle_brand, 
      vehicle_type, vehicle_system, license_number, 
      lot_areas, lot_areas_id, parts_count, 
      parts_weight, production_date, is_has_key, 
      description, buy_requirement, look_contacts, 
      look_contact_number, look_address, look_coordinate, 
      auction_state, audit_state, set_state, 
      auction_audit_state, regist_state, procedure_state, 
      stock_state, aftersale_state, abortive_state, 
      is_delete, create_user, create_time, 
      update_user, update_time, ts, 
      bid_notice, special_notice)
    values (#{id,jdbcType=VARCHAR}, #{auctionType,jdbcType=INTEGER}, #{auctionNo,jdbcType=VARCHAR}, 
      #{fullName,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{vehicleBrand,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR}, #{vehicleSystem,jdbcType=VARCHAR}, #{licenseNumber,jdbcType=VARCHAR}, 
      #{lotAreas,jdbcType=VARCHAR}, #{lotAreasId,jdbcType=INTEGER}, #{partsCount,jdbcType=INTEGER}, 
      #{partsWeight,jdbcType=VARCHAR}, #{productionDate,jdbcType=TIMESTAMP}, #{isHasKey,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{buyRequirement,jdbcType=VARCHAR}, #{lookContacts,jdbcType=VARCHAR}, 
      #{lookContactNumber,jdbcType=VARCHAR}, #{lookAddress,jdbcType=VARCHAR}, #{lookCoordinate,jdbcType=VARCHAR}, 
      #{auctionState,jdbcType=INTEGER}, #{auditState,jdbcType=INTEGER}, #{setState,jdbcType=INTEGER}, 
      #{auctionAuditState,jdbcType=INTEGER}, #{registState,jdbcType=INTEGER}, #{procedureState,jdbcType=INTEGER}, 
      #{stockState,jdbcType=INTEGER}, #{aftersaleState,jdbcType=INTEGER}, #{abortiveState,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{ts,jdbcType=TIMESTAMP}, 
      #{bidNotice,jdbcType=LONGVARCHAR}, #{specialNotice,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionWithBLOBs">
    insert into car_pm_auction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="auctionType != null">
        auction_type,
      </if>
      <if test="auctionNo != null">
        auction_no,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="vin != null">
        vin,
      </if>
      <if test="vehicleBrand != null">
        vehicle_brand,
      </if>
      <if test="vehicleType != null">
        vehicle_type,
      </if>
      <if test="vehicleSystem != null">
        vehicle_system,
      </if>
      <if test="licenseNumber != null">
        license_number,
      </if>
      <if test="lotAreas != null">
        lot_areas,
      </if>
      <if test="lotAreasId != null">
        lot_areas_id,
      </if>
      <if test="partsCount != null">
        parts_count,
      </if>
      <if test="partsWeight != null">
        parts_weight,
      </if>
      <if test="productionDate != null">
        production_date,
      </if>
      <if test="isHasKey != null">
        is_has_key,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="buyRequirement != null">
        buy_requirement,
      </if>
      <if test="lookContacts != null">
        look_contacts,
      </if>
      <if test="lookContactNumber != null">
        look_contact_number,
      </if>
      <if test="lookAddress != null">
        look_address,
      </if>
      <if test="lookCoordinate != null">
        look_coordinate,
      </if>
      <if test="auctionState != null">
        auction_state,
      </if>
      <if test="auditState != null">
        audit_state,
      </if>
      <if test="setState != null">
        set_state,
      </if>
      <if test="auctionAuditState != null">
        auction_audit_state,
      </if>
      <if test="registState != null">
        regist_state,
      </if>
      <if test="procedureState != null">
        procedure_state,
      </if>
      <if test="stockState != null">
        stock_state,
      </if>
      <if test="aftersaleState != null">
        aftersale_state,
      </if>
      <if test="abortiveState != null">
        abortive_state,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="bidNotice != null">
        bid_notice,
      </if>
      <if test="specialNotice != null">
        special_notice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="auctionType != null">
        #{auctionType,jdbcType=INTEGER},
      </if>
      <if test="auctionNo != null">
        #{auctionNo,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBrand != null">
        #{vehicleBrand,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null">
        #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleSystem != null">
        #{vehicleSystem,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null">
        #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="lotAreas != null">
        #{lotAreas,jdbcType=VARCHAR},
      </if>
      <if test="lotAreasId != null">
        #{lotAreasId,jdbcType=INTEGER},
      </if>
      <if test="partsCount != null">
        #{partsCount,jdbcType=INTEGER},
      </if>
      <if test="partsWeight != null">
        #{partsWeight,jdbcType=VARCHAR},
      </if>
      <if test="productionDate != null">
        #{productionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isHasKey != null">
        #{isHasKey,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="buyRequirement != null">
        #{buyRequirement,jdbcType=VARCHAR},
      </if>
      <if test="lookContacts != null">
        #{lookContacts,jdbcType=VARCHAR},
      </if>
      <if test="lookContactNumber != null">
        #{lookContactNumber,jdbcType=VARCHAR},
      </if>
      <if test="lookAddress != null">
        #{lookAddress,jdbcType=VARCHAR},
      </if>
      <if test="lookCoordinate != null">
        #{lookCoordinate,jdbcType=VARCHAR},
      </if>
      <if test="auctionState != null">
        #{auctionState,jdbcType=INTEGER},
      </if>
      <if test="auditState != null">
        #{auditState,jdbcType=INTEGER},
      </if>
      <if test="setState != null">
        #{setState,jdbcType=INTEGER},
      </if>
      <if test="auctionAuditState != null">
        #{auctionAuditState,jdbcType=INTEGER},
      </if>
      <if test="registState != null">
        #{registState,jdbcType=INTEGER},
      </if>
      <if test="procedureState != null">
        #{procedureState,jdbcType=INTEGER},
      </if>
      <if test="stockState != null">
        #{stockState,jdbcType=INTEGER},
      </if>
      <if test="aftersaleState != null">
        #{aftersaleState,jdbcType=INTEGER},
      </if>
      <if test="abortiveState != null">
        #{abortiveState,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="bidNotice != null">
        #{bidNotice,jdbcType=LONGVARCHAR},
      </if>
      <if test="specialNotice != null">
        #{specialNotice,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionWithBLOBs">
    update car_pm_auction
    <set>
      <if test="auctionType != null">
        auction_type = #{auctionType,jdbcType=INTEGER},
      </if>
      <if test="auctionNo != null">
        auction_no = #{auctionNo,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="vehicleBrand != null">
        vehicle_brand = #{vehicleBrand,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null">
        vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleSystem != null">
        vehicle_system = #{vehicleSystem,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null">
        license_number = #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="lotAreas != null">
        lot_areas = #{lotAreas,jdbcType=VARCHAR},
      </if>
      <if test="lotAreasId != null">
        lot_areas_id = #{lotAreasId,jdbcType=INTEGER},
      </if>
      <if test="partsCount != null">
        parts_count = #{partsCount,jdbcType=INTEGER},
      </if>
      <if test="partsWeight != null">
        parts_weight = #{partsWeight,jdbcType=VARCHAR},
      </if>
      <if test="productionDate != null">
        production_date = #{productionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isHasKey != null">
        is_has_key = #{isHasKey,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="buyRequirement != null">
        buy_requirement = #{buyRequirement,jdbcType=VARCHAR},
      </if>
      <if test="lookContacts != null">
        look_contacts = #{lookContacts,jdbcType=VARCHAR},
      </if>
      <if test="lookContactNumber != null">
        look_contact_number = #{lookContactNumber,jdbcType=VARCHAR},
      </if>
      <if test="lookAddress != null">
        look_address = #{lookAddress,jdbcType=VARCHAR},
      </if>
      <if test="lookCoordinate != null">
        look_coordinate = #{lookCoordinate,jdbcType=VARCHAR},
      </if>
      <if test="auctionState != null">
        auction_state = #{auctionState,jdbcType=INTEGER},
      </if>
      <if test="auditState != null">
        audit_state = #{auditState,jdbcType=INTEGER},
      </if>
      <if test="setState != null">
        set_state = #{setState,jdbcType=INTEGER},
      </if>
      <if test="auctionAuditState != null">
        auction_audit_state = #{auctionAuditState,jdbcType=INTEGER},
      </if>
      <if test="registState != null">
        regist_state = #{registState,jdbcType=INTEGER},
      </if>
      <if test="procedureState != null">
        procedure_state = #{procedureState,jdbcType=INTEGER},
      </if>
      <if test="stockState != null">
        stock_state = #{stockState,jdbcType=INTEGER},
      </if>
      <if test="aftersaleState != null">
        aftersale_state = #{aftersaleState,jdbcType=INTEGER},
      </if>
      <if test="abortiveState != null">
        abortive_state = #{abortiveState,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="bidNotice != null">
        bid_notice = #{bidNotice,jdbcType=LONGVARCHAR},
      </if>
      <if test="specialNotice != null">
        special_notice = #{specialNotice,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuctionWithBLOBs">
    update car_pm_auction
    set auction_type = #{auctionType,jdbcType=INTEGER},
      auction_no = #{auctionNo,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      vehicle_brand = #{vehicleBrand,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      vehicle_system = #{vehicleSystem,jdbcType=VARCHAR},
      license_number = #{licenseNumber,jdbcType=VARCHAR},
      lot_areas = #{lotAreas,jdbcType=VARCHAR},
      lot_areas_id = #{lotAreasId,jdbcType=INTEGER},
      parts_count = #{partsCount,jdbcType=INTEGER},
      parts_weight = #{partsWeight,jdbcType=VARCHAR},
      production_date = #{productionDate,jdbcType=TIMESTAMP},
      is_has_key = #{isHasKey,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      buy_requirement = #{buyRequirement,jdbcType=VARCHAR},
      look_contacts = #{lookContacts,jdbcType=VARCHAR},
      look_contact_number = #{lookContactNumber,jdbcType=VARCHAR},
      look_address = #{lookAddress,jdbcType=VARCHAR},
      look_coordinate = #{lookCoordinate,jdbcType=VARCHAR},
      auction_state = #{auctionState,jdbcType=INTEGER},
      audit_state = #{auditState,jdbcType=INTEGER},
      set_state = #{setState,jdbcType=INTEGER},
      auction_audit_state = #{auctionAuditState,jdbcType=INTEGER},
      regist_state = #{registState,jdbcType=INTEGER},
      procedure_state = #{procedureState,jdbcType=INTEGER},
      stock_state = #{stockState,jdbcType=INTEGER},
      aftersale_state = #{aftersaleState,jdbcType=INTEGER},
      abortive_state = #{abortiveState,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP},
      bid_notice = #{bidNotice,jdbcType=LONGVARCHAR},
      special_notice = #{specialNotice,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.tieshanpaiPo.CarPmAuction">
    update car_pm_auction
    set auction_type = #{auctionType,jdbcType=INTEGER},
      auction_no = #{auctionNo,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      vehicle_brand = #{vehicleBrand,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      vehicle_system = #{vehicleSystem,jdbcType=VARCHAR},
      license_number = #{licenseNumber,jdbcType=VARCHAR},
      lot_areas = #{lotAreas,jdbcType=VARCHAR},
      lot_areas_id = #{lotAreasId,jdbcType=INTEGER},
      parts_count = #{partsCount,jdbcType=INTEGER},
      parts_weight = #{partsWeight,jdbcType=VARCHAR},
      production_date = #{productionDate,jdbcType=TIMESTAMP},
      is_has_key = #{isHasKey,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      buy_requirement = #{buyRequirement,jdbcType=VARCHAR},
      look_contacts = #{lookContacts,jdbcType=VARCHAR},
      look_contact_number = #{lookContactNumber,jdbcType=VARCHAR},
      look_address = #{lookAddress,jdbcType=VARCHAR},
      look_coordinate = #{lookCoordinate,jdbcType=VARCHAR},
      auction_state = #{auctionState,jdbcType=INTEGER},
      audit_state = #{auditState,jdbcType=INTEGER},
      set_state = #{setState,jdbcType=INTEGER},
      auction_audit_state = #{auctionAuditState,jdbcType=INTEGER},
      regist_state = #{registState,jdbcType=INTEGER},
      procedure_state = #{procedureState,jdbcType=INTEGER},
      stock_state = #{stockState,jdbcType=INTEGER},
      aftersale_state = #{aftersaleState,jdbcType=INTEGER},
      abortive_state = #{abortiveState,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>