<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chegujiaMapper.v1.JyModelMapper.ChlAutoLogosMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.chegujiaPo.v1.JyModelPo.ChlAutoLogos">
    <id column="auto_logos_id" jdbcType="INTEGER" property="autoLogosId" />
    <result column="auto_logos_name" jdbcType="VARCHAR" property="autoLogosName" />
    <result column="auto_logos_alias" jdbcType="VARCHAR" property="autoLogosAlias" />
  </resultMap>
  <sql id="Base_Column_List">
    auto_logos_id, auto_logos_name, auto_logos_alias
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chl_auto_logos
    where auto_logos_id = #{autoLogosId,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.JyModelPo.ChlAutoLogos">
    update chl_auto_logos
    <set>
      <if test="autoLogosName != null">
        auto_logos_name = #{autoLogosName,jdbcType=VARCHAR},
      </if>
      <if test="autoLogosAlias != null">
        auto_logos_alias = #{autoLogosAlias,jdbcType=VARCHAR},
      </if>
    </set>
    where auto_logos_id = #{autoLogosId,jdbcType=INTEGER}
  </update>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chl_auto_logos
    ORDER BY
    auto_logos_alias ASC
  </select>
</mapper>