<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chegujiaMapper.v1.TieshangjCityInfoMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.chegujiaPo.v1.TieshangjCityInfo">
    <result column="citycode" jdbcType="INTEGER" property="citycode" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="provincecode" jdbcType="INTEGER" property="provincecode" />
    <result column="city_namecn" jdbcType="VARCHAR" property="cityNamecn" />
  </resultMap>
  <insert id="insert" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCityInfo">
    insert into tieshangj_city_info (citycode, sort, provincecode, 
      city_namecn)
    values (#{citycode,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{provincecode,jdbcType=INTEGER}, 
      #{cityNamecn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCityInfo">
    insert into tieshangj_city_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="citycode != null">
        citycode,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="provincecode != null">
        provincecode,
      </if>
      <if test="cityNamecn != null">
        city_namecn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="citycode != null">
        #{citycode,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="provincecode != null">
        #{provincecode,jdbcType=INTEGER},
      </if>
      <if test="cityNamecn != null">
        #{cityNamecn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectProvid" resultMap="BaseResultMap">
    SELECT citycode,city_namecn FROM `tieshangj_city_info`
    where provincecode=#{Pid} order by sort asc
  </select>
</mapper>