<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chegujiaMapper.v1.TieshangjHistoryMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.chegujiaPo.v1.TieshangjHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="fruit" jdbcType="VARCHAR" property="fruit" />
    <result column="factors" jdbcType="VARCHAR" property="factors" />
    <result column="car_model_name" jdbcType="VARCHAR" property="carModelName" />
    <result column="tu" jdbcType="VARCHAR" property="tu" />
    <result column="jyid" jdbcType="VARCHAR" property="jyid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_time, type, fruit, factors, car_model_name, tu,jyid,phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tieshangj_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjHistory">
    insert into tieshangj_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="fruit != null">
        fruit,
      </if>
      <if test="factors != null">
        factors,
      </if>
      <if test="carModelName != null">
        car_model_name,
      </if>
      <if test="tu != null">
        tu,
      </if>
      <if test="jyid != null">
        jyid,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fruit != null">
        #{fruit,jdbcType=VARCHAR},
      </if>
      <if test="factors != null">
        #{factors,jdbcType=VARCHAR},
      </if>
      <if test="carModelName != null">
        #{carModelName,jdbcType=VARCHAR},
      </if>
      <if test="tu != null">
        #{tu,jdbcType=VARCHAR},
      </if>
      <if test="jyid != null">
        #{jyid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjHistory">
    update tieshangj_history
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="fruit != null">
        fruit = #{fruit,jdbcType=VARCHAR},
      </if>
      <if test="factors != null">
        factors = #{factors,jdbcType=VARCHAR},
      </if>
      <if test="carModelName != null">
        car_model_name = #{carModelName,jdbcType=VARCHAR},
      </if>
      <if test="tu != null">
        tu = #{tu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from tieshangj_history order by create_time desc limit 2
  </select>
</mapper>