<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chegujiaMapper.v1.TieshangjCarWasteMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarWaste">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="w_name" jdbcType="VARCHAR" property="wName" />
    <result column="demolition_money" jdbcType="VARCHAR" property="demolitionMoney" />
    <result column="demolition_xi" jdbcType="VARCHAR" property="demolitionXi" />
    <result column="old_money" jdbcType="VARCHAR" property="oldMoney" />
    <result column="old_xi" jdbcType="VARCHAR" property="oldXi" />
    <result column="car_model_id" jdbcType="INTEGER" property="carModelId" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, w_name, demolition_money, demolition_xi, old_money, old_xi, car_model_id, created_by, 
    created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tieshangj_car_waste
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarWaste">
    insert into tieshangj_car_waste
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wName != null">
        w_name,
      </if>
      <if test="demolitionMoney != null">
        demolition_money,
      </if>
      <if test="demolitionXi != null">
        demolition_xi,
      </if>
      <if test="oldMoney != null">
        old_money,
      </if>
      <if test="oldXi != null">
        old_xi,
      </if>
      <if test="carModelId != null">
        car_model_id,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wName != null">
        #{wName,jdbcType=VARCHAR},
      </if>
      <if test="demolitionMoney != null">
        #{demolitionMoney,jdbcType=VARCHAR},
      </if>
      <if test="demolitionXi != null">
        #{demolitionXi,jdbcType=VARCHAR},
      </if>
      <if test="oldMoney != null">
        #{oldMoney,jdbcType=VARCHAR},
      </if>
      <if test="oldXi != null">
        #{oldXi,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null">
        #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarWaste">
    update tieshangj_car_waste
    <set>
      <if test="wName != null">
        w_name = #{wName,jdbcType=VARCHAR},
      </if>
      <if test="demolitionMoney != null">
        demolition_money = #{demolitionMoney,jdbcType=VARCHAR},
      </if>
      <if test="demolitionXi != null">
        demolition_xi = #{demolitionXi,jdbcType=VARCHAR},
      </if>
      <if test="oldMoney != null">
        old_money = #{oldMoney,jdbcType=VARCHAR},
      </if>
      <if test="oldXi != null">
        old_xi = #{oldXi,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null">
        car_model_id = #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tieshangj_car_waste
  </select>
</mapper>