<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chegujiaMapper.TieshangjCarPieceMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.chegujiaPo.TieshangjCarPiece">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="piece_name" jdbcType="VARCHAR" property="pieceName" />
    <result column="levels" jdbcType="INTEGER" property="levels" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, piece_name, levels, parent_id, created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tieshangj_car_piece
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tieshangj_car_piece
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tieshan.api.po.chegujiaPo.TieshangjCarPiece">
    insert into tieshangj_car_piece (id, piece_name, levels, 
      parent_id, created_by, created_time, 
      updated_by, updated_time)
    values (#{id,jdbcType=INTEGER}, #{pieceName,jdbcType=VARCHAR}, #{levels,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.chegujiaPo.TieshangjCarPiece">
    insert into tieshangj_car_piece
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pieceName != null">
        piece_name,
      </if>
      <if test="levels != null">
        levels,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pieceName != null">
        #{pieceName,jdbcType=VARCHAR},
      </if>
      <if test="levels != null">
        #{levels,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.chegujiaPo.TieshangjCarPiece">
    update tieshangj_car_piece
    <set>
      <if test="pieceName != null">
        piece_name = #{pieceName,jdbcType=VARCHAR},
      </if>
      <if test="levels != null">
        levels = #{levels,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tieshan.api.po.chegujiaPo.TieshangjCarPiece">
    update tieshangj_car_piece
    set piece_name = #{pieceName,jdbcType=VARCHAR},
      levels = #{levels,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectYi"  resultMap="BaseResultMap">
    select id,piece_name from tieshangj_car_piece where levels=#{levels}
  </select>
</mapper>