<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chegujiaMapper.v1.TieshangjCarModelMapper">
  <resultMap id="BaseResultMap" type="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="car_name" jdbcType="VARCHAR" property="carName" />
    <result column="car_crew_id" jdbcType="INTEGER" property="carCrewId" />
    <result column="iron_code" jdbcType="VARCHAR" property="ironCode" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="displacement" jdbcType="VARCHAR" property="displacement" />
    <result column="body_structure" jdbcType="VARCHAR" property="bodyStructure" />
    <result column="type_transmission" jdbcType="VARCHAR" property="typeTransmission" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="zbzl" jdbcType="VARCHAR" property="zbzl" />
    <result column="jyid" jdbcType="VARCHAR" property="jyid" />
    <result column="jyjson" jdbcType="VARCHAR" property="jyjson" />
    <result column="mergecode" jdbcType="VARCHAR" property="mergecode" />
    <association property="tieshangjCarAutoLogos" javaType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarAutoLogos">
      <result column="a_name" jdbcType="VARCHAR" property="aName"/>
    </association>
    <association property="tieshangjCarVehicleSystem" javaType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarVehicleSystem">
      <result column="v_name" jdbcType="VARCHAR" property="vName"/>
    </association>
    <association property="tieshangjCarBrand" javaType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarBrand">
      <result column="b_name" jdbcType="VARCHAR" property="bName"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, car_name, car_crew_id, iron_code, money, displacement, body_structure, type_transmission, 
    created_by, created_time, updated_by, updated_time,zbzl,jyid,jyjson,mergecode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
          b.b_name,
          s.v_name,
          m.*
        FROM
          tieshangj_car_model m
          INNER JOIN tieshangj_car_train_crew c ON m.car_crew_id = c.id
          INNER JOIN tieshangj_car_vehicle_system s ON c.vehice_system_id = s.id
          INNER JOIN tieshangj_car_brand b ON b.id = s.brand_id
          INNER JOIN tieshangj_car_auto_logos l ON l.id = b.auto_logosz_id
        where m.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimarytiema" parameterType="java.lang.String" resultType="java.lang.String">
    select zbzl
    from tieshangj_car_model
    where iron_code = #{tiema}
  </select>
  <insert id="insertSelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarModel">
    insert into tieshangj_car_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carName != null">
        car_name,
      </if>
      <if test="carCrewId != null">
        car_crew_id,
      </if>
      <if test="ironCode != null">
        iron_code,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="displacement != null">
        displacement,
      </if>
      <if test="bodyStructure != null">
        body_structure,
      </if>
      <if test="typeTransmission != null">
        type_transmission,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="zbzl != null">
        zbzl,
      </if>
      <if test="jyid != null">
        jyid,
      </if>
      <if test="jyjson != null">
        jyjson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carName != null">
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carCrewId != null">
        #{carCrewId,jdbcType=INTEGER},
      </if>
      <if test="ironCode != null">
        #{ironCode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="displacement != null">
        #{displacement,jdbcType=VARCHAR},
      </if>
      <if test="bodyStructure != null">
        #{bodyStructure,jdbcType=VARCHAR},
      </if>
      <if test="typeTransmission != null">
        #{typeTransmission,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zbzl != null">
        #{zbzl,jdbcType=VARCHAR},
      </if>
      <if test="jyid != null">
        #{jyid,jdbcType=VARCHAR},
      </if>
      <if test="jyjson != null">
        #{jyjson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarModel">
    update tieshangj_car_model
    <set>
      <if test="carName != null">
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carCrewId != null">
        car_crew_id = #{carCrewId,jdbcType=INTEGER},
      </if>
      <if test="ironCode != null">
        iron_code = #{ironCode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="displacement != null">
        displacement = #{displacement,jdbcType=VARCHAR},
      </if>
      <if test="bodyStructure != null">
        body_structure = #{bodyStructure,jdbcType=VARCHAR},
      </if>
      <if test="typeTransmission != null">
        type_transmission = #{typeTransmission,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zbzl != null">
        zbzl = #{zbzl,jdbcType=VARCHAR},
      </if>
      <if test="jyid != null">
        zbzl = #{jyid,jdbcType=VARCHAR},
      </if>
      <if test="jyjson != null">
        jyjson = #{jyjson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCheXiId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   SELECT
        m.id,
        m.car_name,
        m.iron_code
    FROM
        tieshangj_car_model m
        INNER JOIN tieshangj_car_train_crew g ON m.car_crew_id = g.id
        INNER JOIN tieshangj_car_vehicle_system s ON s.id = g.vehice_system_id
    WHERE
	    s.id = #{chexiId}  order by car_name asc
  </select>
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
        SELECT
          b.b_name,
          s.v_name,
          m.id,
          m.car_name,
          m.iron_code,
          m.money,
          m.displacement,
          m.body_structure,
          m.type_transmission,
          m.updated_time
        FROM
          tieshangj_car_model m
          INNER JOIN tieshangj_car_train_crew c ON m.car_crew_id = c.id
          INNER JOIN tieshangj_car_vehicle_system s ON c.vehice_system_id = s.id
          INNER JOIN tieshangj_car_brand b ON b.id = s.brand_id
          INNER JOIN tieshangj_car_auto_logos l ON l.id = b.auto_logosz_id
    <where>
      <if test="tiema!=null and tiema!=''">
        and m.iron_code = #{tiema}
      </if>
      <if test="carModelName!=null and carModelName!=''">
        and m.car_name like CONCAT('%',#{carModelName},'%')
      </if>
    </where>
    order by b.b_name
    limit #{page},#{pagesize}
  </select>
  <select id="selectAllCount" parameterType="map" resultType="Integer">
    SELECT
    count(m.id)
    FROM
    tieshangj_car_model m
    INNER JOIN tieshangj_car_train_crew c ON m.car_crew_id = c.id
    INNER JOIN tieshangj_car_vehicle_system s ON c.vehice_system_id = s.id
    INNER JOIN tieshangj_car_brand b ON b.id = s.brand_id
    INNER JOIN tieshangj_car_auto_logos l ON l.id = b.auto_logosz_id
    <where>
      <if test="tiema!=null and tiema!=''">
        and m.iron_code = #{tiema}
      </if>
      <if test="carModelName!=null and carModelName!=''">
        and m.car_name like CONCAT('%',#{carModelName},'%')
      </if>
    </where>
  </select>
  <select id="selectAlls" resultMap="BaseResultMap">
    select jyid,id,mergecode,zbzl from tieshangj_car_model group by mergecode
  </select>
  <update id="updateByHe" parameterType="com.tieshan.api.po.chegujiaPo.v1.TieshangjCarModel">
    update tieshangj_car_model
    set zbzl = #{zbzl,jdbcType=VARCHAR}
    where mergecode = #{mergecode,jdbcType=VARCHAR}
  </update>
  <select id="selectTieMaByJYid" parameterType="java.lang.String" resultType="java.lang.String">
    select iron_code
    from tieshangj_car_model
    where jyid = #{jyid}
  </select>
  <select id="countByTieMa" parameterType="java.lang.String" resultType="java.lang.String">
    select iron_code
    from tieshangj_car_model
    where iron_code = #{tiema}
  </select>
</mapper>