<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chebaofeiMapper.v1.ClientMessageMapper">
    <resultMap id="BaseResultMap" type="com.tieshan.api.po.chebaofeiPo.v1.ClientMessage">
        <id column="id" 				property="id" />
        <result column="client_id" 		property="clientId" />
        <result column="title" 			property="title" />
        <result column="content" 		property="content" />
        <result column="type" 			property="type" />
        <result column="isread" 		property="isread" />
        <result column="isremove" 		property="isremove" />
        <result column="creater" 		property="creater" />
        <result column="createtime" 	property="createtime" />
    </resultMap>

    <resultMap id="ClientMessageBO" type="com.tieshan.api.bo.chebaofeiBo.v1.ClientMessageBO" extends="BaseResultMap">
    </resultMap>


    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria"
                     separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value"
                                             item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria"
                     separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value"
                                             item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
		id, client_id, title, content, type, isread, isremove, creater, createtime
	</sql>

    <select id="queryUnReadTotal" parameterType="java.lang.String" resultType="int">
		SELECT
			COUNT(1)
		FROM
			tb_client_message
		WHERE
			isremove = 0
		AND
			client_id = #{clientId}
		AND
			isread = 0
	</select>

    <select id="queryPageList" resultMap="ClientMessageBO">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_client_message
        WHERE
        isremove = 0
        ORDER BY
        createtime DESC
    </select>

    <select id="queryBOById" parameterType="java.lang.String" resultMap="ClientMessageBO">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_client_message
        WHERE
        id = #{id}
    </select>

    <update id="changeIsRead" parameterType="java.lang.String">
		UPDATE
			tb_client_message
		SET
			isread = 1
		WHERE
			id = #{id}
	</update>

</mapper>