<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieshan.api.mapper.chebaofeiMapper.v1.TbCarPartsMapper">
    <resultMap id="BaseResultMap" type="com.tieshan.api.po.chebaofeiPo.v1.TbCarParts">
        <id column="id" property="id" />
        <result column="partsName" property="partsName" />
        <result column="partsCategoryId" property="partsCategoryId" />
        <result column="isvalid" property="isvalid" />
    </resultMap>

    <select id="queryByIdPageListByWhere" resultMap="BaseResultMap">
        select
        id as id,
        isvalid as isvalid,
        parts_name as partsName,
        parts_category_id as partsCategoryId
        from
        tb_car_parts
        where
        isvalid = 1
        and parts_category_id = #{paramter.partsCategoryId}
        <if test="paramter.partsName!=null and paramter.partsName!=''">
            and parts_name like concat('%',#{paramter.partsName},'%')
        </if>
    </select>
    <select id="selectLike" resultMap="BaseResultMap">
        select
        parts_name as partsName
        from
        tb_car_parts
        where
        isvalid = 1
        and parts_name like concat('%',#{name},'%')
    </select>
</mapper>